<%= render 'layouts/header' %> 
<div class="container">
	<div class="row no-margin">
		<div class="col-xs-12">
			<div class="row no-margin">
				<h2>Your Original URL is: <%= @original_url%></h2>
				<h2>Your Shortened URL is: <%= @short_url%></h2>
			</div>
		</div>
	</div>
</div>
<%= render 'layouts/footer' %>
