<div class="row code-verification-cushion">
	<div class="container">
		<div class="row no-margin"></div>
	</div>
</div>
<div class="row early-signup-form-section">
	<div class="container">
		<div class="row no-margin">
			<div class="col-sm-3"></div>
			<div class="col-xs-12 col-sm-8 col-md-6">
				<div class="row no-margin user-info-form">
					<%= simple_form_for @user, :url => {:controller => "signup", :action => "code_verification"}, :html => { :class => 'form-horizontal' }, :remote => true do |f| %>
						<label for="discount_field" class="col-xs-4 col-sm-4 col-md-3 control-label invitation-code-label">Invitation code</label> 
						<div class="col-xs-8 col-sm-8 col-md-9">
							<%= f.input :special_code, as: :string, 
										input_html: { class: "form-control", id: "special_code" }, 
										placeholder: "Place your early signup invitation code here", 
										label: false, required: true %>
							<h5 class="discount-code-response hidden" id="invalid_code">Sorry, that code isn't valid.</h5>
						</div>
				</div>
			</div>
			<div class="row no-margin">
				<div class="col-xs-0 col-sm-3 col-md-4"></div>
				<div class="col-xs-12 col-sm-6 col-md-4 text-center">
					<%= f.submit "Next", class: "btn btn-default btn-success formButton code-verification-next-button" %>
					<h5 class="terms-and-conditions-text">Don't have a code? 
						<%= link_to "Request one here", "#", :class => 'text-center', data: {toggle: "modal", target: "#early_code_request"} %>
					</h5>
				</div>
			</div>
			
			<% end %>
		</div>
	</div>
</div>