<div class="container" id="drinks-per-week-meaning">
	<div class="col-xs-0 col-sm-3"></div>
	<div class="col-xs-12 col-sm-6 drinks-per-week-meaning-parent">
		<div class="row no-margin drinks-per-week-meaning-first-row">
			<div class="col-xs-12">
				<h4 class="drinks-per-week-meaning-text">
					Based on the <%= @drinks_per_week %> <%= @drink_preference %> you drink each week, 
					<span class="" id="delivery-drinks-total-message">
						we'll deliver approxiately <%= @drink_per_delivery_calculation %> drinks to you <u>every other week</u>.
					</span>  
				</h4>
			</div>
		</div>
		<div class="row no-margin">
			<div class="col-xs-12">
				<h4 class="drinks-per-week-meaning-text">If that works for you, click 'Next'. If not, 
					change your number above.
				</h4>
			</div>
		</div>
		<div class="row no-margin">
			<div class="col-xs-4"></div>
			<div class="col-xs-4">
				<%= link_to "Next", drinks_large_getting_started_path(@user.id), class: "btn btn-default btn-success signup-drinks-per-week-next-step", id: "liked_styles_next_step_button" %>
			</div>
		</div>
	</div>
</div>