<% if @user_delivery_preference.beer_chosen && @user_delivery_preference.cider_chosen %>
	<div class="col-xs-6 col-sm-offset-2 col-sm-4 no-padding signup-guide-column-holder <%= @beer_chosen %>">
		<%= link_to "beer numbers", drink_profile_beer_numbers_path, class: "guide-header #{@beer_chosen}" %>
		<h5 class="pipe-separator">&#124;</h5>
	</div>
	<div class="col-xs-6 col-sm-4 no-padding signup-guide-column-holder <%= @cider_chosen %>">
		<% if @user.getting_started_step >= 9 %>
			<%= link_to "cider numbers", drink_profile_cider_numbers_path, class: "guide-header #{@cider_chosen}" %>
		<% else %>
			<h5 class="guide-header">cider numbers</h5>
		<% end %>
	</div>
<% end %>	