<div class="col-xs-6 col-sm-offset-3 col-sm-3 no-padding signup-guide-column-holder <%= @delivery_frequency_chosen %>">
	<%= link_to "delivery frequency", delivery_frequency_getting_started_path(@user.id), class: "guide-header #{@delivery_frequency_chosen}" %>
	<h5 class="pipe-separator">&#124;</h5>
</div>
<div class="col-xs-6 col-sm-3 no-padding signup-guide-column-holder <%= @delivery_preference_chosen %>">
	<% if @user.getting_started_step >= 3 %>
		<%= link_to "delivery start", delivery_preferences_getting_started_path, class: "guide-header #{@delivery_preference_chosen}" %>
	<% else %>
		<h5 class="guide-header">delivery start</h5>
	<% end %>
</div>

