<%= render 'layouts/header_signup' %> 
	<div class="row no-margin first-row-signup">
		<div class="container first-row-container-signup">

		</div>
	</div>
	<div class="row">
		<div class="container" id="user-drink-preference-signup">
			<div class="col-xs-12 text-center">
				<h2 class="signup-question">What do you drink?</h2>
			</div>
			<div class="col-xs-12 col-sm-4 no-padding signup-image-holder-parent">
				<div class="signup-image-holder">
					<img class="img-responsive center-block" alt="Responsive image" src="https://s3-us-west-2.amazonaws.com/knird/signup/Beer.png">
					<h3 class="signup-image-first-level-text">Beer</h3>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 no-padding signup-image-holder-parent">
				<div class="signup-image-holder middle-option">
					<img class="img-responsive center-block" alt="Responsive image" src="https://s3-us-west-2.amazonaws.com/knird/signup/ciders.png">
					<h3 class="signup-image-first-level-text">Cider</h3>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 no-padding signup-image-holder-parent">
				<div class="signup-image-holder">
					<img class="img-responsive center-block" alt="Responsive image" src="https://s3-us-west-2.amazonaws.com/knird/signup/beer-and-cider.png">
					<h3 class="signup-image-first-level-text">Beer & Cider</h3>
				</div>
			</div>
		</div>
	</div>

<%= render 'layouts/footer' %>