<%= render 'layouts/header_early_signup' %> 
<div class="row early-signup-verification-section">
	<div class="container">
		<div class="row topRow"> 
			<div class="col-xs-0 col-sm-2"></div>
			<div class="col-xs-12 col-sm-8">
				<h4 class="early-signup-password-note"><span>Hello <%= @customer.first_name %>!</span> Thanks again for signing up
					to Knird early.  Before we start delivering we'll send you a temporary password so you can log in, 
					complete your drink profile, and set up time for an introductory sync with your curator. <span>Stay tuned!</span></h4>
			</div>
		</div>
		<div class="row no-margin">
			<div class="col-xs-0 col-sm-4"></div>
			<div class="col-xs-12 col-sm-4">
				<%= link_to "Return to homepage", root_path, class: "btn btn-default btn-success formButton-get-started-bottom-homepage" %>
			</div>
		</div>
	</div>
</div>
<%= render 'layouts/footer' %> 