<div class="row no-margin">
	<div class="col-sm-12">
		<h3 class="recent-ratings-header">My recent ratings</h3>
		<h5 class="page-subheader"> <%= (@user_ratings.count).floor %> drinks rated since <%= (@user.created_at).strftime("%b %e, %Y") %></h5>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<% if !@recent_user_ratings.blank? %>
			<div class="row no-margin recent-rating-holder">
				<% @recent_user_ratings.each do |rating| %>
					<div class="col-sm-3" id="recent-activity">
						<%= render(partial: 'rating_drink_card_history', locals: { drink: rating }) %>
					</div>
				<% end%>
			</div>
			<div class="col-sm-12" id="fav-drink-types-container">
				<%= will_paginate @recent_user_ratings, renderer: BootstrapPagination::Rails %>
			</div>
		<% else %>
			<div class="row no-margin">
				<h4 class="no-results-empty-message">You haven't rated any drinks yet. Time for a drink! And don't forget to rate it....</h4>
			</div>
		<% end %>
	</div>
</div>