<div class="modal-header">
	<div class="row no-margin">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<div class="col-sm-8">
			<h3>Drinks planned for <span class="current-selected-user" id="current-user-recommendations"><%= @drink_recommendations[0].user.username %></span></h3>
		</div>
		<div class="col-sm-4">
			<%= link_to "Share with customer", admin_share_delivery_with_customer_path(@chosen_user_id), :class => "btn btn-success inputButton2" %>
		</div>
	</div>
</div>
<div class="modal-body"></div>