<div class="modal-header">
	<div class="row no-margin">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<div class="col-sm-8">
			<h3>Drinks planned for <span class="current-selected-user" id="current-user-recommendations"><%= @drink_recommendations[0].user.username %></span></h3>
		</div>
		<div class="col-sm-4" id="<%= @customer_next_delivery.id %>">
			<h4 class="ready-to-share-text">Ready to share with customer?</h4>
			<% if @customer_next_delivery.share_admin_prep_with_user == true %>
				<%= check_box_tag :share_with_customer, 'yes', true %>
			<% else %>
				<%= check_box_tag :share_with_customer, 'yes', false %>
			<% end %>
		</div>
	</div>
</div>
<div class="modal-body"></div>