<div class="col-xs-4 col-sm-offset-1 col-sm-1 text-left no-padding">
	<h4>Account:</h4>
</div>
<div class="col-xs-8 col-sm-4">
	<%= collection_select("account_list", :account_id, Account.where(id: @active_account_ids), :id, :recommendation_account_drop_down_view, {prompt: "Change customer view", selected: @current_account_id}, {class: "form-control user-list-for-recommendation"}) %>
</div>
<div class="col-xs-4 col-sm-1 text-left no-padding">
	<h4>Delivery:</h4>
</div>
<div class="col-xs-8 col-sm-4">
	<%= collection_select("delivery_list", :delivery_id, Delivery.where(account_id: @current_account_id, delivery_date: @customer_delivery_dates), :id, :recommendation_delivery_drop_down_view, {prompt: "Change delivery date", selected: @customer_next_delivery.id}, {class: "form-control delivery-list-for-recommendation"}) %>
</div>
