<% @drink_recommendations_in_stock.each do |drink_group| %>
	<% drink_group[1].each do |drink| %>
		<div class="row no-margin" id="<%= drink[1][0].id %>-drink-recommendation-holder-row">
			<%= render 'drink_row_template', drink: drink[1] %>
		</div>
		<hr>
	<% end %>
<% end %>


