<%= render 'layouts/header' %> 
<div class="container">
	<div class="row header-row">
		<div class="page-header">
			<div class="row">
				<h2>Drink recommendations</h2>
			</div>
		</div>
	</div>
	
	<%= render(partial: 'inventory_list', locals: { drinks: @inventory_drink_recommendations }) %>
	<%= render(partial: 'non_inventory_list', locals: { drinks: @non_inventory_drink_recommendations }) %>
</div>
<%= render 'layouts/footer' %>
