<div class="container">
	<div class="row header-row stay-in-place">
			<div class="row no-margin">
				<div class="col-sm-7 visible-sm visible-md visible-lg">
					<h4 class="live-beer-count"><%= @all_number_complete_brewery_beers.to_s + " available" %></h4>
					<h4 class="live-beer-count"><%= @available_assessed_drinks.to_s + " relevant" %></h4>
				</div>
			</div>
	</div>
</div>
