<% @user_subscription = UserSubscription.where(account_id: current_user.account_id, currently_active: true).first %>
<div class="row no-margin first-row-new">
	<div class="container first-row-container-new">
		<div class="col-xs-12 col-sm-7 no-padding">
			<div class="row no-margin">
				<div class="col-xs-4 col-md-3 text-center no-padding-right">
					<h3 class="submenu-options">
						<%= link_to "Cellar", user_cellar_path, class: "#{if current_section == "Cellar" then "current" else "" end}" %>
					</h3>
				</div>
				<div class="col-xs-4 col-sm-3 no-padding-right">
					<h3 class="submenu-options">
						<%= link_to "Wishlist", user_wishlist_path, class: "#{if current_section == "Wishlist" then "current" else "" end}" %>
					</h3>
				</div>
			</div>
		</div>
	</div>
</div>