<div class="col-xs-12 col-sm-6 col-md-4 beer-tile-container" id="drink-tile-<%= drink.id %>">
	<div class="drink-delivery-tile">
		<%= render 'layouts/delivered_drink_info_next_delivery', drink: drink %>
	</div>
</div>	