<div class="col-xs-12 col-sm-6 col-md-4 beer-tile-container" id="drink-tile-<%= drink.id %>">
	<%= link_to new_user_rating_path(@user.id, drink.beer.id, drink.account_delivery_id), :class => 'rate-drink-from-delivery text-center' do %>
		<i class="fa fa-thumbs-up"></i>
		<i class="fa fa-thumbs-down fa-flip-horizontal"></i>
		<p>rate</p>
	<% end %>
	<div class="drink-delivery-tile">
		<%= render 'layouts/drink_info_cellar', drink: drink %>
	</div>
</div>	