<div class="col-xs-12 col-sm-6 col-md-4 beer-tile-container" id="drink-tile-<%= drink.id %>">
	<%= link_to "#", class:'remove-drink-from-wishlist text-center', id:"remove-drink-from-wishlist-#{drink.id}"  do %>
		<i class="fa fa-times"></i>
	<% end %>
	<div class="drink-delivery-tile">
		<%= render 'layouts/drink_info_wishlist', drink: drink %>
	</div>
</div>	