<%= render 'layouts/header' %> 
	<div class="container">
		<div class="row current-beers-header">
			<div class="page-header"> 
				<h3 class="dark-gray-text">These are your beers currently on tap. Get to it!</h3> 
			</div>
		</div>
		<div class="row">
			
		</div>
		<div class="row wish-beers-header">
			<div class="page-header"> 
				<h3 class="dark-gray-text">These are your wish list beers. Keep your fingers crossed....</h3> 
			</div>
		</div>
		<div class="row">
			
		</div>
	</div>
<%= render 'layouts/footer' %>