<%= render 'layouts/header' %> 
	<div class="container">
		<div class="row current-beers-header">
			<div class="page-header"> 
				<h3 class="dark-gray-text">Available beers. Get to it!</h3> 
			</div>
		</div>
		<div class="row">
			
		</div>
		<div class="row wish-beers-header">
			<div class="page-header"> 
				<h3 class="dark-gray-text">Wish list beers. Good things come to those who wait....</h3> 
			</div>
		</div>
		<div class="row">
			
		</div>
	</div>
<%= render 'layouts/footer' %>