<%= render 'layouts/header' %> 
	<div class="container">
		<div class="row on-tap-header">
			<div class="col-xs-12">
				<h3 class="page-title">Currently on tap</h3> 
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 no-padding">
 				<% if @current_list_beers.empty? %>
 					<h6 class="light-gray-text">Your drink list is currently empty...and it's a shame. Seriously, shame on you.</h6>
 				<% else %>
 					<%= render( partial: 'drinks/current_list') %>
 				<% end %>
 			</div>
		</div>
		<hr/>
		<div class="row wish-beers-header">
			<div class="col-xs-12">
				<h3 class="dark-gray-text">My wish list beers</h3> 
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
 				<% if @wish_list_beers.empty? %>
 					<h5 class="light-gray-text">Apparently, all your dreams have come true!</h5>
 				<% else %>
 					<%= render( partial: 'drinks/wish_list') %>
 				<% end %>
 			</div>
		</div>
	</div>
<%= render 'layouts/footer' %>