<%= render 'layouts/header' %> 
	<div class="container">
		<div class="row current-beers-header">
			<div class="page-header"> 
				<h3 class="dark-gray-text">Available beers. Get to it!</h3> 
			</div>
		</div>
		<div class="row">
			<div class="col-sm-9 no-padding">
 				<% if @current_list_beers.empty? %>
 					<h4 class="light-gray-text">Your drink list is currently empty...and it's a shame. Seriously, shame on you.</h4>
 				<% else %>
 					<%= render( partial: 'drinks/current_list') %>
 				<% end %>
 			</div>
			<div class="col-sm-3 no-padding">
				
			</div>
		</div>
		<div class="row wish-beers-header">
			<div class="page-header"> 
				<h3 class="dark-gray-text">Wish list beers. Good things come to those who wait....</h3> 
			</div>
		</div>
		<div class="row">
			<div class="col-sm-9 no-padding">
 				<% if @wish_list_beers.empty? %>
 					<h4 class="light-gray-text">When your drink list beers are no longer available, they'll move to your wish list for a rainy day. Luckily, we have lots of those to spare.</h4>
 				<% else %>
 					<%= render( partial: 'drinks/wish_list') %>
 				<% end %>
 			</div>
			<div class="col-sm-3 no-padding">
				
			</div>
		</div>
	</div>
<%= render 'layouts/footer' %>