<%= render 'layouts/header' %> 
<div class="row no-margin first-row">
	<div class="container first-row-container">
		<div class="col-xs-12 col-sm-4 no-padding">
			<h1 class="section-header">Rewards</h1>
		</div>
	</div>
</div>
<div class="row">
	<div class="container">
	    <h4>More soon</h4>
	</div>
</div>
<%= render 'layouts/footer' %>