<h1>Success!</h1>
<div class="row no-margin">
	<div class="col-sm-1">
		
	</div>
	<div class="col-sm-1">
		<h3 class="quick-help"><i class="fa fa-user fa-3x"></i></h3>
	</div>
	<div class="col-sm-3">
		<div id="best-guess-drink-page">
			 <svg style="height:125px;width:125px"></svg>
		</div>
	</div>
</div>
<div class="row no-margin">
	<div class="col-xs-12">
		<h3>2017 Total Drinks Revenue: <%= @drinks_sold %></h3>
	</div>
	<div class="col-xs-12">
		<h3>2017 COGS: <%= @cost_of_goods_sold %></h3>
	</div>
</div>
