<% if !@draft_board.blank? && @subscription_plan == 2 %>
	<% if !@internal_board_preferences.nil? %>
		<% if current_user.role_id == 1 || current_user.role_id == 5 %>
			<div class="col-xs-12 no-padding">
				<div class="row no-margin">
					<div class="col-xs-12 no-padding">
						<h5 class="retailer-section-instructions">Change how your web draft board looks by choosing one or more of the following options:</h5>
					</div>
				</div>
				<div class="row no-margin">
					<div class="col-xs-12 col-sm-4 col-md-4 board-preference-inputs">
						<h6 class="board-preference-options web-board-option-header">Show drink descriptors:</h6>
						<% if @web_board_preferences.show_descriptors == true %>
							<input type="checkbox" name="show_descriptors" id="show_descriptors" checked="checked" value="yes" class="show_descriptors">
						<% else %>
							<input type="checkbox" name="show_descriptors" id="show_descriptors" value="no" class="show_descriptors">
						<% end %>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-2 board-preference-inputs no-padding">
						<h6 class="board-preference-options web-board-option-header">Show next drinks up:</h6>
						<% if @web_board_preferences.show_up_next == true %>
							<input type="checkbox" name="show_next" id="show_next" checked="checked" value="yes" class="show_next">
						<% else %>
							<input type="checkbox" name="show_next" id="show_next" value="no" class="show_next">
						<% end %>
					</div>
					<% if @web_board_preferences.show_up_next == true %>
					<div class="col-xs-12 col-sm-4 col-md-2 board-preference-inputs no-padding show" id="show-next-type-holder">
							<% if @web_board_preferences.show_next_type == "specific" %>
								<h6 class="board-preference-options next-up-preference-header">Specific taps:</h6>
								<input type="radio" name="show_next_type" id="show_next_type" checked="checked" value="specific" class="show_next_type">
								<br />
								<h6 class="board-preference-options next-up-preference-header">In general:</h6>
								<input type="radio" name="show_next_type" id="show_next_type" value="general" class="show_next_type">
							<% elsif @web_board_preferences.show_next_type == "general" %>
								<h6 class="board-preference-options next-up-preference-header">Specific taps:</h6>
								<input type="radio" name="show_next_type" id="show_next_type" value="specific" class="show_next_type">
								<br />
								<h6 class="board-preference-options next-up-preference-header">In general:</h6>
								<input type="radio" name="show_next_type" id="show_next_type" checked="checked" value="general" class="show_next_type">
							<% else %>
								<h6 class="board-preference-options next-up-preference-header">Specific taps:</h6>
								<input type="radio" name="show_next_type" id="show_next_type" value="specific" class="show_next_type">
								<br />
								<h6 class="board-preference-options next-up-preference-header">In general:</h6>
								<input type="radio" name="show_next_type" id="show_next_type" value="general" class="show_next_type">
							<% end %>	
					</div>
					<% else %>
						<div class="col-xs-12 col-sm-4 col-md-2 board-preference-inputs no-padding hidden" id="show-next-type-holder">
							<% if @web_board_preferences.show_next_type == "specific" %>
								<h6 class="board-preference-options next-up-preference-header">Specific taps:</h6>
								<input type="radio" name="show_next_type" id="show_next_type" checked="checked" value="specific" class="show_next_type">
								<br />
								<h6 class="board-preference-options next-up-preference-header">In general:</h6>
								<input type="radio" name="show_next_type" id="show_next_type" value="general" class="show_next_type">
							<% elsif @web_board_preferences.show_next_type == "general" %>
								<h6 class="board-preference-options next-up-preference-header">Specific taps:</h6>
								<input type="radio" name="show_next_type" id="show_next_type" value="specific" class="show_next_type">
								<br />
								<h6 class="board-preference-options next-up-preference-header">In general:</h6>
								<input type="radio" name="show_next_type" id="show_next_type" checked="checked" value="general" class="show_next_type">
							<% else %>
								<h6 class="board-preference-options next-up-preference-header">Specific taps:</h6>
								<input type="radio" name="show_next_type" id="show_next_type" value="specific" class="show_next_type">
								<br />
								<h6 class="board-preference-options next-up-preference-header">In general:</h6>
								<input type="radio" name="show_next_type" id="show_next_type" value="general" class="show_next_type">
							<% end %>	
					</div>
					<% end %>
				</div>
			<hr />
			</div>
		<% end %>
	<% end %>
<% end %>
<div id="updated-draft-board-column">	
	<%= render 'draft_board_column' %>
</div>

