<div class="col-sm-3 draft-abv-holder no-padding-right">
	<% if !@chosen_drink['abv'].nil? %>
		<h6 class="tile-subheader draft-abv"><%= @chosen_drink['abv'] %>% ABV</h6>
	<% else %>
		<h6 class="tile-subheader draft-abv">ABV N/A</h6>
	<% end %>
</div>
<div class="col-sm-3 text-left draft-ibu-holder">
	<% if !@chosen_drink['ibu'].nil? %>
		<h6 class="tile-subheader retail-edit-beer-info draft-ibu"><%= @chosen_drink['ibu'] %> IBUs</h6>
	<% else %>
		<h6 class="tile-subheader retail-edit-beer-info draft-ibu">IBUs N/A</h6>
	<% end %>
</div>
<div class="col-sm-6 no-padding draft-type-holder">
	<% if !@chosen_drink['type'].nil? %>
		<h5 class="tile-subheader retail-edit-beer-info no-overflow draft-type"><%= @chosen_drink['type'] %></h5>
	<% else %>
		<h5 class="tile-subheader retail-edit-beer-info no-overflow draft-type">Unknown Style</h5>
	<% end %>
</div>