<% if !this_drink.nil? %>
	<div class="col-xs-4 col-sm-3 col-md-3 draft-abv-holder no-padding-right">
		<% if !this_drink.beer_abv.nil? %>
			<h6 class="tile-subheader draft-abv"><%= this_drink.beer_abv %>% ABV</h6>
		<% else %>
			<h6 class="tile-subheader draft-abv">ABV N/A</h6>
		<% end %>
	</div>
	<div class="col-xs-4 col-sm-3 col-md-3 text-left draft-ibu-holder no-padding-right">
		<% if !this_drink.beer_ibu.nil? %>
			<h6 class="tile-subheader retail-edit-beer-info draft-ibu"><%= this_drink.beer_ibu %> IBUs</h6>
		<% else %>
			<h6 class="tile-subheader retail-edit-beer-info draft-ibu">IBUs N/A</h6>
		<% end %>
	</div>
	<div class="col-xs-4 col-sm-6 col-md-6 no-padding draft-type-holder">
		<% if !this_drink.beer_type.nil? %>
			<% if !this_drink.beer_type.beer_type_name.nil? %>
				<h5 class="tile-subheader retail-edit-beer-info no-overflow draft-type"><%= this_drink.beer_type.beer_type_name %></h5>
			<% else %>
				<h5 class="tile-subheader retail-edit-beer-info no-overflow draft-type">Unknown Style</h5>
			<% end %>
		<% else %>
			<h5 class="tile-subheader retail-edit-beer-info no-overflow draft-type">Unknown Style</h5>
		<% end %>
	</div>
<% end %>
