$(function() {
	$("#<%= @beer_location_id %>-tweeted").html("<h6 class="last-updated social-status">Tweeted:  <%= escape_javascript(drink.twitter_share.strftime("%b %e, %Y @ %l:%M %p")) %></h6>");
	
});