<div class="fav-type-tile">
	<% if type_info.beer_style.style_image_url.blank? %>
		<div>
			<h2><i class="fa fa-beer"></i></h2>
		</div>
	<% else %>
		<div class="fav-type-image-container">
			<img class="img-responsive center-block" alt="Responsive image" src="<%= type_info.beer_style.style_image_url %>">
		</div>
	<% end %>
</div>
<h5 class="fav-type-with-image"><%= type_info.beer_type_name %></h5>