<div class="row no-margin">
	<div class="col-xs-12 col-sm-8">
		<h3 class="recent-ratings-header">Select the best plan for you</h3>
	</div>
	<div class="col-xs-12 col-sm-4" id="last-updated-holder">
		<% if !@deliveries_last_updated.nil? %>
			<%= render 'preferences_last_updated' %>
		<% end %>
	</div>
</div>
<div class="row no-margin">
		<div class="col-sm-4">
			<div class="row no-margin retail-plan-update-options">
				<div class="col-xs-12 no-padding">
					<div class="row no-margin">
						<div class="col-sm-12">
							<h3 class="retail-plan-header">Ad hoc</h3>
						</div>
					</div>
					<div class="row no-margin">
						<div class="col-sm-1"></div>
						<div class="col-sm-10 no-padding">
							<ul class="retail-plan-feature-list">
								<li>Curated drink deliveries based on your personal preferences</li>
								<li>Order only when you want a shipment delivered</li>
								<li>$6 per delivery</li>
							</ul>
						</div>
					</div>
					<div class="row-no-margin">
						<div class="col-sm-12 no-padding">
							<h5 class="contract-type-header">No membership contract</h5>
							<h2 class="retailer-plan-cost">$0<span class="with-contract">/mo</span></h2>
							<%= link_to "Start the Ad hoc Plan", choose_initial_plan_path(current_user.id, "connect"), class: 'btn btn-primary formButton-start-plan' %>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-sm-4">
			<div class="row no-margin retail-plan-update-options">
				<div class="col-xs-12 no-padding">
					<div class="row no-margin">
						<div class="col-sm-12">
							<h3 class="retail-plan-header">3 month plan</h3>
						</div>
					</div>
					<div class="row no-margin">
						<div class="col-sm-1"></div>
						<div class="col-sm-10 no-padding">
							<ul class="retail-plan-feature-list">
								<li>Curated drink deliveries based on your personal preferences</li>
								<li>2 deliveries per month</li>
								<li>Additional deliveries only $4 each</li>
								<li>8% member dividend</li>
							</ul>
						</div>
					</div>
					<div class="row-no-margin">
						<div class="col-sm-12 no-padding">
							<h5 class="contract-type-header">3-month membership contract</h5>
							<h2 class="retailer-plan-cost">$10<span class="with-contract">/mo</span></h2>
							<%= link_to "Start the 3 Month Plan", choose_initial_plan_path(current_user.id, "connect"), class: 'btn btn-primary formButton-start-plan' %>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-sm-4">
			<div class="row no-margin retail-plan-update-options">
				<div class="col-xs-12 no-padding">	
					<div class="row no-margin">
						<div class="col-sm-12">
							<h3 class="retail-plan-header">12 month adventure</h3>
						</div>
					</div>
					<div class="row no-margin">
						<div class="col-sm-1"></div>
						<div class="col-sm-10 no-padding">
							<ul class="retail-plan-feature-list">
								<li>Curated drink deliveries based on your personal preferences</li>
								<li>2 deliveries per month</li>
								<li>Additional deliveries only $4 each</li>
								<li>10% member dividend</li>
								<li>Eligible for first dibs on limited and rare items</li>
							</ul>
						</div>
					</div>
					<div class="row-no-margin">
						<div class="col-sm-12 no-padding">
							<h5 class="contract-type-header">12-month membership contract</h5>
							<h2 class="retailer-plan-cost">$8.33<span class="with-contract">/mo</span></h2>
							<%= link_to "Start the 12 Month Plan", choose_initial_plan_path(current_user.id, "connect"), class: 'btn btn-primary formButton-start-plan' %>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>