<div class="row">
	<div class="container">
		<div class="col-xs-12">
			<h3 class="recent-ratings-header">My craft journey status</h3>
		</div>
	</div>
</div>
<div class="row">
	<div class="container">
		<%= render 'signup/craft_journey_choice'%>
	</div>
</div>