<div class="row no-margin">
	<div class="col-xs-12 col-sm-8">
		<h3 class="recent-ratings-header">Drinks currently in your cellar</h3>
	</div>
</div>
<div class="row no-margin">
	<div class="col-xs-12">
		<div class="row no-margin">
		
		</div>
	</div>
</div>