<div class="row no-margin">
	<div class="col-xs-12 col-sm-8">
		<h3 class="recent-ratings-header">Your next delivery</h3>
	</div>
</div>
<div class="row no-margin">
	<div class="col-xs-12">
		<div class="row no-margin">
			<% if !@next_delivery.blank? %>
				<div class="row no-margin recent-rating-holder">
					<% @next_delivery.each do |drink| %>
						<%= render(partial: 'next_delivery_card', locals: { drink: drink }) %>
					<% end%>
				</div>
			<% else %>
				<div class="row no-margin">
					<% if !@next_delivery_review_start_date.nil? %>
						<h4 class="no-results-empty-message">Your next delivery will be available to review by 12pm PT on <%= (@next_delivery_review_start_date).strftime("%A, %b %e, %Y") %>. Please check back then.</h4>				
					<% else %>
						<h4 class="no-results-empty-message">You must provide your delivery preferences before we can choose drinks for you. Make it happen, captain!</h4>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
</div>