<div class="row no-margin">
	<div class="col-xs-12 col-sm-6">
		<h3 class="recent-ratings-header">My cooler drinks</h3>
	</div>
	<div class="col-xs-1 col-sm-3"></div>
	<div class="col-xs-10 col-sm-3">
		<%= link_to drink_search_path(current_user.id), class: 'btn btn-default btn-success formButton-send-note the-supply-button' do %>
			<i class="fa fa-plus"> add a drink to your supply</i>
		<% end %>
	</div>
</div>
<div class="row no-margin">
	<div class="col-xs-12">
		<div class="row no-margin">
			<% if !@user_cooler.blank? %>
				<% @user_cooler.each do |drink| %>
					<%= render(partial: 'supply_card', locals: { drink: drink }) %>
				<% end %>
				<div class="col-sm-12" id="fav-drink-types-container">
					<%= will_paginate @user_cooler, renderer: BootstrapPagination::Rails %>
				</div>
			<% else %>
				<h4 class="no-results-empty-message">You don't currently have any drinks in your cooler. Add one now!</h4>				
			<% end %>
		</div>
	</div>
</div>