<div class="row no-margin first-row-new">
	<div class="container first-row-container-new">
		<div class="col-xs-12 no-padding">
			<div class="row no-margin">
				<div class="col-xs-4 col-sm-3 col-md-2">
					<h3 class="submenu-options">
						<%= link_to "Personal", account_personal_path, class: "#{if current_section == "Personal" then "current" else "" end}", id: "next" %>
					</h3>
				</div>
				<div class="col-xs-4 col-sm-3">
					<h3 class="submenu-options">
						<%= link_to "Addresses", account_addresses_path, class: "#{if current_section == "Address" then "current" else "" end}", id: "next" %>
					</h3>
				</div>
				<% if !@user_subscription.blank? %>
					<% if @user_subscription.subscription.deliveries_included != 0 %>
						<div class="col-xs-4 col-sm-3 col-md-2 no-padding-right">
							<h3 class="submenu-options">
								<%= link_to "Mates", account_mates_path, class: "#{if current_section == "Mates" then "current" else "" end}", id: "guests" %>
							</h3>
						</div>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>