<div class="row no-margin">
	<div class="col-xs-12 col-sm-8">
		<h3 class="recent-ratings-header">My favorite drinks</h3>
	</div>
	<div class="col-xs-12 col-sm-4" id="last-updated-holder">
		<% if !@style_last_updated.nil? %>
			<%= render 'preferences_last_updated' %>
		<% end %>
	</div>
	<div class="col-xs-12">
		<h4 class="user-notification-form-text">Help us find more drinks you might like--add up to 5 of your all time favorite beers or ciders.</h4>
	</div>
</div>
<%= render 'user_drink_fav_drink_choices' %>

