<%= render 'layouts/header' %> 
<%= render 'user_account_settings_common', current_section: "Profile" %>
<div class="row">
	<div class="container" id="user-delivery-preferences-holder">
	    <%= render 'user_account_info' %>
	</div>
</div>
<%= render 'layouts/footer' %>