<%= render 'layouts/header' %> 
	<div class="row no-margin first-row">
		<div class="container first-row-container">
			<div class="col-sm-5 no-padding">
				<h1 class="section-header">Drink Activity</h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="container">
			<div class="col-sm-12">
				<h3 class="recent-ratings-header">Recent ratings</h3>
				<div class="row no-margin recent-rating-holder">
					<% @recent_user_ratings.each do |rating| %>
						<div class="col-sm-3" id="recent-activity">
							<%= render(partial: 'rating_card', locals: { drink: rating }) %>
						</div>
					<% end%>
				</div>
				<div class="col-sm-12" id="fav-drink-types-container">
					<%= will_paginate @recent_user_ratings, renderer: BootstrapPagination::Rails %>
				</div>
			</div>
		</div>
	</div>
<%= render 'layouts/footer' %>