<%= render 'layouts/header' %> 
<div class="row no-margin first-row">
	<div class="container first-row-container">
		<div class="col-sm-5 no-padding">
			<h1 class="section-header">Delivery Settings</h1>
		</div>
	</div>
</div>
<div class="row">
	<div class="container" id="user-delivery-preferences-holder">
		<%= render 'user_delivery_preferences' %>
	</div>
</div>
<%= render 'layouts/footer' %>