<%= render 'layouts/header_home_temp' %> 
<div class="container">
	<div class="row no-margin">
		<div class="col-xs-12 text-center">
			<h2 class="signup-question">Thank you for your interest in Knird!</h2>
			<h5 class="signup-question-detail">We'll be in touch soon.</h5>
		</div>
	</div>		
</div>
<%= render 'layouts/footer' %>