<%= render 'layouts/header' %> 
	<div class="row no-margin first-row">
		<div class="container first-row-container">
			<div class="col-sm-5 no-padding">
				<h1 class="section-header">Drink Wishlist</h1>
				<h4 class="drinks-rated no-margin">Dream big. You never know what lies ahead.</h4>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="container">
			<div class="row no-margin">
				<div class="col-sm-12">
					<h3 class="recent-ratings-header">Drinks you long to savor</h3>
				</div>
			</div>			
			<div class="row no-margin">
				<%= render 'wishlist_drinks' %>
			</div>
		</div>
	</div>
<%= render 'layouts/footer' %>