<%= render 'layouts/header' %> 
<%= render 'rewards_credits_common', current_section: "Rewards" %>
<div class="row">
	<div class="container" id="preference-view-choice">
		<%= render 'rewards' %>
	</div>
</div>
<%= render 'layouts/footer' %>