<div class="container">
		<div class="row no-margin">
			<h3 class="retail-plan-headline">Select the  best plan for you.</h3>
		</div>
		<div class="row no-margin">
			<div class="col-sm-2"></div>
			<div class="col-sm-4 retail-plan-update-options retain-plan-option">
				<div class="row no-margin">
					<div class="col-sm-12">
						<h3 class="retail-plan-header">Retain</h3>
						<h6 class="retail-plan-subheader">your customers</h6>
					</div>
				</div>
				<div class="row no-margin">
					<div class="col-sm-1"></div>
					<div class="col-sm-10 no-padding-right">
						<ul class="retail-plan-feature-list">
							<li>All Connect Plan feature</li>
							<li>Share drinks on Facebook & Twitter</li>
							<li>Print drink menus</li>
							<li>Show what's on draft next</li>
							<li>Customize draft boards</li>
							<li>Manage draft inventory</li>
							<li>Assign access rights</li>
							<li>10am - 8pm customer support</li>
							<li>Monthly or yearly contract option</li>
							<li>30 day free trial <span class="no-credit-card">(no credit card needed)</span></li>
						</ul>
					</div>
				</div>
				<div class="row no-margin">
					<div class="col-sm-5 no-padding">
						<h5 class="contract-type-header">1-year contract</h5>
						<h2 class="retailer-plan-cost">$25<span class="with-contract">/mo</span></h2>
					</div>
					<div class="col-sm-2 no-padding">
						<h5 class="retail-plan-option-or">or</h5>
					</div>
					<div class="col-sm-5 no-padding">
						<h5 class="contract-type-header">1-month contract</h5>
						<h2 class="retailer-plan-cost">$30<span class="with-contract">/mo</span></h2>
					</div>
				</div>
				<div class="row-no-margin">
					<div class="col-sm-12 no-padding">
						<%= link_to "Start with the Retain Plan free trial", choose_initial_plan_path(@retailer.id, "retain_y"), class: 'btn btn-success formButton-start-plan'  %>
					</div>
				</div>
			</div>
			<div class="col-sm-4 retail-plan-update-options no-padding">
				<div class="row no-margin">
					<div class="col-sm-12">
						<h3 class="retail-plan-header">Connect</h3>
						<h6 class="retail-plan-subheader">with customers</h6>
					</div>
				</div>
				<div class="row no-margin">
					<div class="col-sm-1"></div>
					<div class="col-sm-10 no-padding-right">
						<ul class="retail-plan-feature-list">
							<li>Knird App Business Listing + Logo</li>
							<li>Leverage Knird's database</li>
							<li>Simultaneously update all draft lists</li>
							<li>As available customer support</li>
						</ul>
					</div>
				</div>
				<div class="row-no-margin">
					<div class="col-sm-12 no-padding">
						<h5 class="contract-type-header">No contract</h5>
						<h2 class="retailer-plan-cost">$0<span class="with-contract">/mo</span></h2>
						<%= link_to "Start with the always free Connect Plan", choose_initial_plan_path(@retailer.id, "connect"), class: 'btn btn-primary formButton-start-plan' %>
					</div>
				</div>
			</div>
		</div>
	</div>