<div class="col-xs-12 text-center">
	<h4 class="retail-manage-header">Your Plan <span class="last-updated"> (Last updated: <%= (@retailer_subscription.updated_at).strftime("%B %e, %Y @ %l:%M %p") %>)</span></h4>
</div>
<div class="col-md-1"></div>
<div class="col-xs-12 col-md-10">
	<div class="row no-margin">
		<div class="table-responsive">
		<% if @subscription_plan != "retain" %>
			<table class="table">
				<thead>
					<th></th>
					<th class="retailer-plan-header selected-plan-column top-row">Connect<br><span class="retailer-plan-info">with customers</span></th>
					<th class="retailer-plan-header">Retain<br><span class="retailer-plan-info">your customers</span></th>
				</thead>
				<tbody>
					<tr>
						<td class="feature-list-column">Cost with a 1-yr contract</td>
						<td class="feature-show-column feature-included selected-plan-column">$0/mo</td>
						<td class="feature-show-column feature-included">$25/mo</td>
					</tr>
					<tr>
						<td class="feature-list-column">Cost with a month-to-month contract</td>
						<td class="feature-show-column feature-included selected-plan-column">$0/mo</td>
						<td class="feature-show-column feature-included">$30/mo</td>
					</tr>
					<tr>
						<td class="feature-list-column">Knird App Business Listing + Logo</td>
						<td class="feature-show-column feature-included selected-plan-column"><i class="fa fa-check"></i></td>
						<td class="feature-show-column feature-included"><i class="fa fa-check"></i></td>
					</tr>
					<tr>
						<td class="feature-list-column">Easily update both your website and internal draft list at the same time</td>
						<td class="feature-show-column feature-included selected-plan-column"><i class="fa fa-check"></i></td>
						<td class="feature-show-column feature-included"><i class="fa fa-check"></i></td>
					</tr>
					<tr>
						<td class="feature-list-column">Share available drinks on Facebook & Twitter</td>
						<td class="feature-show-column feature-not-included selected-plan-column"><i class="fa fa-minus"></i></td>
						<td class="feature-show-column feature-included"><i class="fa fa-check"></i></td>
					</tr>
					<tr>
						<td class="feature-list-column">Print current draft list to a hard copy drink menu</td>
						<td class="feature-show-column feature-not-included selected-plan-column"><i class="fa fa-minus"></i></td>
						<td class="feature-show-column feature-included"><i class="fa fa-check"></i></td>
					</tr>
					<tr>
						<td class="feature-list-column">Show what's going on draft next</td>
						<td class="feature-show-column feature-not-included selected-plan-column"><i class="fa fa-minus"></i></td>
						<td class="feature-show-column feature-included"><i class="fa fa-check"></i></td>
					</tr>
					<tr>
						<td class="feature-list-column">Customize your internal draft board</td>
						<td class="feature-show-column feature-not-included selected-plan-column"><i class="fa fa-minus"></i></td>
						<td class="feature-show-column feature-included"><i class="fa fa-check"></i></td>
					</tr>
					<tr>
						<td class="feature-list-column">Keep track of your draft inventory</td>
						<td class="feature-show-column feature-not-included selected-plan-column"><i class="fa fa-minus"></i></td>
						<td class="feature-show-column feature-included"><i class="fa fa-check"></i></td>
					</tr>
					<tr>
						<td class="feature-list-column">Assign access rights to team members</td>
						<td class="feature-show-column feature-not-included selected-plan-column"><i class="fa fa-minus"></i></td>
						<td class="feature-show-column feature-included"><i class="fa fa-check"></i></td>
					</tr>
					<tr>
						<td class="feature-list-column">Take advantage of outstanding customer support</td>
						<td class="feature-show-column feature-not-included selected-plan-column"><i class="fa fa-minus"></i></td>
						<td class="feature-show-column feature-included"><i class="fa fa-check"></i></td>
					</tr>
					<tr>
						<td></td>
						<td class="current-plan-text selected-plan-column last-row">Current<br>Plan</td>
						<td class="change-plan-button-holder">
							<%= link_to change_plans_path(@retailer.id), class: 'btn btn-default btn-success formButton-change-plan', data: { confirm:'Are you sure you want to upgrade?'} do %>
								<i class="fa fa-plus"> Upgrade</i>
							<% end %>
						</td>
					</tr>
				</tbody>
			</table>
		<% else %>
			<table class="table">
				<thead>
					<th></th>
					<th class="retailer-plan-header">Connect<br><span class="retailer-plan-info">with customers</span></th>
					<th class="retailer-plan-header selected-plan-column top-row">Retain<br><span class="retailer-plan-info">your customers</span></th>
				</thead>
				<tbody>
					<tr>
						<td class="feature-list-column">Cost with a 1-yr contract</td>
						<td class="feature-show-column feature-included">$0/mo</td>
						<td class="feature-show-column feature-included selected-plan-column">$25/mo</td>
					</tr>
					<tr>
						<td class="feature-list-column">Cost with a month-to-month contract</td>
						<td class="feature-show-column feature-included">$0/mo</td>
						<td class="feature-show-column feature-included selected-plan-column">$30/mo</td>
					</tr>
					<tr>
						<td class="feature-list-column">Knird App Business Listing + Logo</td>
						<td class="feature-show-column feature-included"><i class="fa fa-check"></i></td>
						<td class="feature-show-column feature-included selected-plan-column"><i class="fa fa-check"></i></td>
					</tr>
					<tr>
						<td class="feature-list-column">Easily update both your website and internal draft list at the same time</td>
						<td class="feature-show-column feature-included"><i class="fa fa-check"></i></td>
						<td class="feature-show-column feature-included selected-plan-column"><i class="fa fa-check"></i></td>
					</tr>
					<tr>
						<td class="feature-list-column">Share available drinks on Facebook & Twitter</td>
						<td class="feature-show-column feature-not-included"><i class="fa fa-minus"></i></td>
						<td class="feature-show-column feature-included selected-plan-column"><i class="fa fa-check"></i></td>
					</tr>
					<tr>
						<td class="feature-list-column">Print current draft list to a hard copy drink menu</td>
						<td class="feature-show-column feature-not-included"><i class="fa fa-minus"></i></td>
						<td class="feature-show-column feature-included selected-plan-column"><i class="fa fa-check"></i></td>
					</tr>
					<tr>
						<td class="feature-list-column">Show what's going on draft next</td>
						<td class="feature-show-column feature-not-included"><i class="fa fa-minus"></i></td>
						<td class="feature-show-column feature-included selected-plan-column"><i class="fa fa-check"></i></td>
					</tr>
					<tr>
						<td class="feature-list-column">Customize your internal draft board</td>
						<td class="feature-show-column feature-not-included"><i class="fa fa-minus"></i></td>
						<td class="feature-show-column feature-included selected-plan-column"><i class="fa fa-check"></i></td>
					</tr>
					<tr>
						<td class="feature-list-column">Keep track of your draft inventory</td>
						<td class="feature-show-column feature-not-included"><i class="fa fa-minus"></i></td>
						<td class="feature-show-column feature-included selected-plan-column"><i class="fa fa-check"></i></td>
					</tr>
					<tr>
						<td class="feature-list-column">Assign access rights to team members</td>
						<td class="feature-show-column feature-not-included"><i class="fa fa-minus"></i></td>
						<td class="feature-show-column feature-included selected-plan-column"><i class="fa fa-check"></i></td>
					</tr>
					<tr>
						<td class="feature-list-column">Take advantage of outstanding customer support</td>
						<td class="feature-show-column feature-not-included"><i class="fa fa-minus"></i></td>
						<td class="feature-show-column feature-included selected-plan-column"><i class="fa fa-check"></i></td>
					</tr>
					<tr>
						<td></td>
						<td class="change-plan-button-holder">
						</td>
						<td class="current-plan-text selected-plan-column last-row">Current<br>Plan</td>
					</tr>
					<tr class="last-row-plan-change">
						<td></td>
						<td class="text-center" colspan="2">
							<%= link_to change_plans_path(@retailer.id), class: 'btn btn-success formButton-change-plan', data: { confirm:'Are you sure you want to downgrade?'} do %>
								<i class="fa fa-wrench"> Change Plans</i>
							<% end %>
						</td>
					</tr>
				</tbody>
			</table>
		<% end %>		
		</div>						
	</div>
</div>	