<div class="col-xs-12 text-center">
	<h4 class="retail-manage-header">Your Plan</h4>
</div>
<div class="col-md-1"></div>
<div class="col-xs-12 col-md-10">
	<div class="row no-margin">
		<div class="table-responsive">
			<table class="table">
				<thead>
					<th></th>
					<th class="text-center">Connect<br><span class="retailer-plan-info">with customers</span></th>
					<th class="text-center">Retain<br><span class="retailer-plan-info">your customers</span></th>
				</thead>
				<tbody class="team-status-table">
					<tr>
						<td class="team-member-name-column">Cost per month w/1-yr contract</td>
						<td class="team-member-name-column">$0</td>
						<td class="team-member-name-column">$25</td>
					</tr>
					<tr>
						<td class="team-member-name-column">Cost per month w/month-to-month contract</td>
						<td class="team-member-name-column">$0</td>
						<td class="team-member-name-column">$30</td>
					</tr>
					<tr>
						<td class="team-member-name-column">Knird App Business Listing + Logo</td>
						<td class="team-member-name-column"><h2><i class="fa fa-check"></i></h2></td>
						<td class="team-member-name-column"><h2><i class="fa fa-check"></i></h2></td>
					</tr>
					<tr>
						<td class="team-member-name-column">Centrally update live drink list</td>
						<td class="team-member-name-column"><h2><i class="fa fa-check"></i></h2></td>
						<td class="team-member-name-column"><h2><i class="fa fa-check"></i></h2></td>
					</tr>
					<tr>
						<td class="team-member-name-column">Cost per month w/1-yr contract</td>
						<td class="team-member-name-column"><h2><i class="fa fa-check"></i></h2></td>
						<td class="team-member-name-column"><h2><i class="fa fa-check"></i></h2></td>
					</tr>
					<tr>
						<td class="team-member-name-column">Cost per month w/1-yr contract</td>
						<td class="team-member-name-column"><h2><i class="fa fa-check"></i></h2></td>
						<td class="team-member-name-column"><h2><i class="fa fa-check"></i></h2></td>
					</tr>
					<tr>
						<td class="team-member-name-column">Cost per month w/1-yr contract</td>
						<td class="team-member-name-column">$0</td>
						<td class="team-member-name-column">$25</td>
					</tr>
					<tr>
						<td class="team-member-name-column">Cost per month w/1-yr contract</td>
						<td class="team-member-name-column">$0</td>
						<td class="team-member-name-column">$25</td>
					</tr>
					<tr>
						<td class="team-member-name-column">Cost per month w/1-yr contract</td>
						<td class="team-member-name-column">$0</td>
						<td class="team-member-name-column">$25</td>
					</tr>
					<tr>
						<td class="team-member-name-column">Cost per month w/1-yr contract</td>
						<td class="team-member-name-column">$0</td>
						<td class="team-member-name-column">$25</td>
					</tr>
					<tr>
						<td class="team-member-name-column">Cost per month w/1-yr contract</td>
						<td class="team-member-name-column">$0</td>
						<td class="team-member-name-column">$25</td>
					</tr>
					<tr>
						<td class="team-member-name-column">Cost per month w/1-yr contract</td>
						<td class="team-member-name-column">$0</td>
						<td class="team-member-name-column">$25</td>
					</tr>
					<tr>
						<td class="team-member-name-column">Cost per month w/1-yr contract</td>
						<td class="team-member-name-column">$0</td>
						<td class="team-member-name-column">$25</td>
					</tr>
				</tbody>
			</table>
			<%= link_to change_plans_path(@retailer.id), class: 'btn btn-default btn-success formButton-draft-board-edit', data: { confirm:'Are you sure you want to upgrade?'} do %>
								<i class="fa fa-retweet"> Change Plan</i>
							<% end %>
		</div>						
	</div>
</div>	