<div class="container">
	<div class="row">
		<div class="col-xs-0 col-sm-1 col-md-0"></div>
		<div class="col-xs-12 col-sm-10 col-md-12">
			<h3 class="index-section-header">About us</h3> 
		</div>
	</div>
	<div class="row">
		<div class="col-xs-0 col-sm-1"></div>
		<div class="col-xs-12 col-sm-10">
			<h4 class="about-us-text">
				<span class="about-us-text-emphais">Knird is a new breed</span> of “bottle shop”.    
				<span class="about-us-text-emphais">We don’t put the burden on you</span> to figure out which of our 
				“50 taps” or “thousands of bottles” you <i>might</i> like to drink.  <span class="about-us-text-emphais">
				We make it simple</span> because we don’t expect you to adjust to the craft scene; 
				<span class="about-us-text-emphais">we adjust the craft scene to you</span>.  We make craft easier 
				through personalization, <span class="about-us-text-emphais">getting you drinks worth your time</span>, 
				money, and limited stomach space.  Most craft drinks are not made to appeal to everyone. But 
				Knird sifts through the many options to find the drinks you'll love<span class="about-us-text-emphais"> without 
				requiring you to make craft beer or cider a part-time job</span>.
			</h4>
			<h4 class="about-us-text second-about-us-paragraph">
				We believe <span class="about-us-text-emphais">craft beer and cider should be easier</span>, 
				more accessible.  So we find <span class="about-us-text-emphais">truly great drinks</span> that match 
				your preferred tastes.  These drinks are <span class="about-us-text-emphais">delivered to you</span>, 
				and&mdash;unlike other delivery services&mdash;we stick <span class="about-us-text-emphais">with normal 
				prices</span> like you would find at any other local store.  We provide all this 
				<span class="about-us-text-emphais"><i>and</i> extra rewards</span> that help make it easier to get 
				limited and rare drinks.  Easy, simple, personalized. 
				<span class="about-us-text-emphais">That’s why we created Knird</span>.
			</h4>
		</div>
	</div>    	
</div>