<div class="container">
	<div class="row">
		<div class="col-xs-0 col-sm-1 col-md-0"></div>
		<div class="col-xs-12 col-sm-10 col-md-12">
			<h3 class="index-section-header">The gift of curated drinks</h3> 
		</div>
	</div>
    <div class="row">
		<div class="col-xs-0 col-sm-1"></div>
		<div class="col-xs-12 col-sm-11">
			<h4 class="expectations-statements"><span>[Promotional text]</span></h4>
		</div>
	</div>
    <div class="row no-margin">
		<div class="col-xs-1 col-sm-4"></div>
		<div class="col-xs-10 col-sm-4">
			<%= link_to "Give Knird", gift_certificates_new_path, :anchor => "homepage-gift-certificates", class: 'btn btn-default btn-primary formButton-get-started-bottom-homepage' %>
		</div>
	</div>
</div>