<div class="container">
	<div class="row">
		<div class="col-xs-0 col-sm-1 col-md-0"></div>
		<div class="col-xs-12 col-sm-10 col-md-12">
			<h3 class="index-section-header">How Knird works</h3> 
		</div>
	</div>
	<div class="row how-it-works-overview">
		<div class="col-xs-0 col-sm-1"></div>
		<div class="col-xs-12 col-sm-11">
			<div class="row how-it-works-holder-row">
				<div class="col-xs-1 no-padding-right">
					<div class="how-it-works-number">
						<h1>1</h1>
						<div class="vertical-dotted-line"></div>
					</div>
				</div>
				<div class="col-xs-11 how-it-works-text-holder">
					<h4 class="how-it-works-desc special-text">
						Your curator uses your drink profile and feedback to select drinks you'll love.
					</h4>
				</div>
			</div>
			<div class="row how-it-works-holder-row">
				<div class="col-xs-1 no-padding-right">
					<div class="how-it-works-number">
						<h1>2</h1>
						<div class="vertical-dotted-line mobile-second-dotted-line"></div>
					</div>
				</div>
				<div class="col-xs-11 how-it-works-text-holder second-point">
					<h4 class="how-it-works-desc second-point">
						You receive your curator's selection the Monday before each delivery; make changes if you'd like, 
						or don't&mdash;it's up to you.
					</h4>
				</div>
			</div>
			<div class="row how-it-works-holder-row">
				<div class="col-xs-1 no-padding-right">
					<div class="how-it-works-number">
						<h1>3</h1>
						<div class="vertical-dotted-line"></div>
					</div>
				</div>
				<div class="col-xs-11 how-it-works-text-holder">
					<h4 class="how-it-works-desc">
						Knird delivers your personalized and curated drinks every other Thursday.
					</h4>
				</div>
			</div>
			<div class="row how-it-works-holder-row">
				<div class="col-xs-1 no-padding-right">
					<div class="how-it-works-number">
						<h1>4</h1>
					</div>
				</div>
				<div class="col-xs-11 how-it-works-text-holder">
					<h4 class="how-it-works-desc">
						Your drink ratings & feedback improve future drink recommendations.
					</h4>
				</div>
			</div>
		</div>
	</div>    	
</div>