<div class="container">
	<div class="row">
		<div class="col-xs-0 col-sm-1 col-md-0"></div>
		<div class="col-xs-12 col-sm-10 col-md-12">
			<h3 class="index-section-header">This is how we do it</h3> 
		</div>
	</div>
	<div class="row">
		<div class="col-xs-0 col-sm-1"></div>
		<div class="col-xs-12 col-sm-11">
			<div class="row how-it-works-holder-row">
				<div class="col-xs-2 col-sm-1 no-padding-right">
					<div class="how-it-works-number">
						<h1>1</h1>
						<div class="vertical-dotted-line"></div>
					</div>
				</div>
				<div class="col-xs-10 how-it-works-text-holder">
					<div class="how-it-works-icon-holder">
						<i class="fa fa-check-square-o fa-2x" aria-hidden="true"></i>
					</div>
					<h4 class="how-it-works-desc">
						You set up a drink profile.
					</h4>
				</div>
			</div>
			<div class="row how-it-works-holder-row">
				<div class="col-xs-2 col-sm-1 no-padding-right">
					<div class="how-it-works-number">
						<h1>2</h1>
						<div class="vertical-dotted-line"></div>
					</div>
				</div>
				<div class="col-xs-10 how-it-works-text-holder">
					<div class="how-it-works-icon-holder">
						<i class="fa fa-magic fa-2x" aria-hidden="true"></i>
					</div>
					<h4 class="how-it-works-desc special-text">
						Your Knird curator uses your profile and drink feedback to select drinks you'll love.
					</h4>
				</div>
			</div>
			<div class="row how-it-works-holder-row">
				<div class="col-xs-2 col-sm-1 no-padding-right">
					<div class="how-it-works-number">
						<h1>3</h1>
						<div class="vertical-dotted-line"></div>
					</div>
				</div>
				<div class="col-xs-10 how-it-works-text-holder">
					<div class="how-it-works-icon-holder">
						<i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
					</div>
					<h4 class="how-it-works-desc">
						You review what's coming your way the Monday before each delivery.
					</h4>
				</div>
			</div>
			<div class="row how-it-works-holder-row">
				<div class="col-xs-2 col-sm-1 no-padding-right">
					<div class="how-it-works-number">
						<h1>4</h1>
						<div class="vertical-dotted-line"></div>
					</div>
				</div>
				<div class="col-xs-10 how-it-works-text-holder">
					<div class="how-it-works-icon-holder">
						<i class="fa fa-retweet fa-2x" aria-hidden="true"></i>
					</div>
					<h4 class="how-it-works-desc">
						Adjust your order if you'd like. Or don't&mdash;it's up to you.
					</h4>
				</div>
			</div>
			<div class="row how-it-works-holder-row">
				<div class="col-xs-2 col-sm-1 no-padding-right">
					<div class="how-it-works-number">
						<h1>5</h1>
						<div class="vertical-dotted-line"></div>
					</div>
				</div>
				<div class="col-xs-10 how-it-works-text-holder">
					<div class="how-it-works-icon-holder">
						<i class="fa fa-calendar-o fa-2x" aria-hidden="true"></i>
					</div>
					<h4 class="how-it-works-desc">
						Knird delivers your personalized and curated drinks every other Thursday.
					</h4>
				</div>
			</div>
			<div class="row how-it-works-holder-row">
				<div class="col-xs-2 col-sm-1 no-padding-right">
					<div class="how-it-works-number">
						<h1>6</h1>
					</div>
				</div>
				<div class="col-xs-10 how-it-works-text-holder">
					<div class="how-it-works-icon-holder">
						<i class="fa fa-line-chart fa-2x" aria-hidden="true"></i>
					</div>
					<h4 class="how-it-works-desc">
						Your drink ratings & feedback improve future drink recommendations.
					</h4>
				</div>
			</div>
		</div>
	</div>    	
</div>