<div class="container">
	<div class="row">
		<div class="col-xs-0 col-sm-1 col-md-0"></div>
		<div class="col-xs-12 col-sm-10 col-md-12">
			<h3 class="index-section-header">Knird membership plans are literally the best thing you will see today.</h3> 
		</div>
	</div>
	<div class="row value-prop-row">
		<div class="col-sm-4">
			<div class="row homepage-plan-options">
				<div class="col-xs-12 no-padding">
					<div class="row no-margin">
						<div class="col-sm-12">
							<h3 class="retail-plan-header">Sample</h3>
						</div>
					</div>
					<div class="row no-margin">
						<div class="col-sm-1"></div>
						<div class="col-sm-10 no-padding">
							<h5 class="membership-plan-includes">Membership plan includes:</h5>
							<ul class="retail-plan-feature-list">
								<li>Ad hoc personalized, curated drink deliveries; only when you order one</li>
								<li>$6 deliveries</li>
							</ul>
						</div>
					</div>
					<div class="row-no-margin">
						<div class="col-sm-12 no-padding">
							<h5 class="contract-type-header">No membership contract</h5>
							<h2 class="retailer-plan-cost">$0<span class="with-contract">/mo</span></h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-sm-4">
			<div class="row homepage-plan-options">
				<div class="col-xs-12 no-padding">
					<div class="row no-margin">
						<div class="col-sm-12">
							<h3 class="retail-plan-header">Enjoy</h3>
						</div>
					</div>
					<div class="row no-margin">
						<div class="col-sm-1"></div>
						<div class="col-sm-10 no-padding">
							<h5 class="membership-plan-includes">Membership plan includes:</h5>
							<ul class="retail-plan-feature-list">
								<li>7 personalized, curated drink deliveries over 3 months</li>
								<li>Additional deliveries for only $4 each</li>
								<li>5% member dividend on drinks purchased and rated</li>
							</ul>
						</div>
					</div>
					<div class="row-no-margin">
						<div class="col-sm-12 no-padding">
							<h5 class="contract-type-header">
								3-month membership contract
								<sup  data-toggle="tooltip" title="Although the membership fee is non-refundable, you can cancel at any time and are under no obligation to buy any more drinks from Knird.">
									?
								</sup>
							</h5>
							<h2 class="retailer-plan-cost">$10<span class="with-contract">/mo</span></h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-sm-4">
			<div class="row homepage-plan-options">
				<div class="col-xs-12 no-padding">	
					<div class="row no-margin">
						<div class="col-sm-12">
							<h3 class="retail-plan-header">Relish</h3>
						</div>
					</div>
					<div class="row no-margin">
						<div class="col-sm-1"></div>
						<div class="col-sm-10 no-padding">
							<h5 class="membership-plan-includes">Membership plan includes:</h5>
							<ul class="retail-plan-feature-list">
								<li>26 personalized, curated drink deliveries over 12 months</li>
								<li>Additional deliveries for only $3 each</li>
								<li>10% member dividend on drinks purchased and rated</li>
								<li>Reward points available for limited and rare drinks</li>
							</ul>
						</div>
					</div>
					<div class="row-no-margin">
						<div class="col-sm-12 no-padding">
							<h5 class="contract-type-header">
								12-month membership contract
								<sup  data-toggle="tooltip" title="Although the membership fee is non-refundable, you can cancel at any time and are under no obligation to buy any more drinks from Knird.">
									?
								</sup>
							</h5>
							<h2 class="retailer-plan-cost">$8.33<span class="with-contract">/mo</span></h2>					
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row no-margin">
		<div class="col-sm-4"></div>
		<div class="col-sm-4">
			<%= link_to "Get started", "#", :anchor => "homepage-get-started-box", class: 'btn btn-default btn-success formButton-get-started-bottom-homepage' %>
		</div>
	</div>
</div>