<div class="container">
	<div class="row">
		<div class="col-xs-0 col-sm-1 col-md-0"></div>
		<div class="col-xs-12 col-sm-10 col-md-12">
			<h3 class="index-section-header">A Knird membership brings it all home</h3> 
		</div>
	</div>
	<div class="row value-prop-row hidden-sm hidden-md hidden-lg hidden-xl">
		<div class="row">
			<div class="col-xs-1"></div>
			<div class="col-xs-10">
				<div class="row homepage-plan-options">
					<div class="col-xs-12 no-padding">
						<div class="row no-margin">
							<div class="col-xs-12">
								<h3 class="retail-plan-header">1 month membership</h3>
							</div>
						</div>
						<div class="row no-margin">
							<div class="col-xs-12 no-padding mobile-membership-plan-list">
								<h5 class="membership-plan-includes">Plan includes:</h5>
								<ul class="mobile-retail-plan-feature-list">
									<li>2 personalized, curated deliveries</li>
									<li>Direct access to personal drink curator</li>
									<li>An introductory sync with your curator</li>
								</ul>
							</div>
						</div>
						<div class="row-no-margin">
							<div class="col-xs-12 no-padding">
								<h5 class="contract-type-header">Membership cost
									<sup  data-toggle="tooltip" title="The $12 1-month membership includes the items listed 
																		but does not include the cost of the drinks. However,
																		our drink prices are competetive, in line with local 
																		shops. Also, although the membership fee is 
																		non-refundable, you can stop deliveries at any 
																		time and are under no obligation to buy any more 
																		drinks from Knird.">
										?
									</sup>
								</h5>
								<h2 class="retailer-plan-cost">$12<span class="with-contract">/mo</span></h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-1"></div>
			<div class="col-xs-10">
				<div class="row homepage-plan-options">
					<div class="col-xs-12 no-padding">
						<div class="row no-margin">
							<div class="col-xs-12">
								<h3 class="retail-plan-header">3 month membership</h3>
							</div>
						</div>
						<div class="row no-margin">
							<div class="col-sm-0"></div>
							<div class="col-xs-12 no-padding mobile-membership-plan-list">
								<h5 class="membership-plan-includes">Plan includes:</h5>
								<ul class="mobile-retail-plan-feature-list">
									<li>6 personalized, curated deliveries</li>
									<li>Direct access to personal drink curator</li>
									<li>An introductory sync with your curator</li>
									<li>1 curated tasting session for you</li>
									<li>Reward points for limited/rare drinks</li>
								</ul>
							</div>
						</div>
						<div class="row-no-margin">
							<div class="col-xs-12 no-padding">
								<h5 class="contract-type-header">
									Membership cost
									<sup  data-toggle="tooltip" title="The $30 3-month membership includes the items listed 
																		but does not include the cost of the drinks. However,
																		our drink prices are competetive, in line with local 
																		shops. Also, although the membership fee is 
																		non-refundable, you can stop deliveries at any 
																		time and are under no obligation to buy any more 
																		drinks from Knird.">
										?
									</sup>
								</h5>
								<h2 class="retailer-plan-cost">$10<span class="with-contract">/mo</span></h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-1"></div>
			<div class="col-xs-10">
				<div class="row homepage-plan-options">
					<div class="col-xs-12 no-padding">	
						<div class="row no-margin">
							<div class="col-xs-12">
								<h3 class="retail-plan-header">12 month membership</h3>
							</div>
						</div>
						<div class="row no-margin">
							<div class="col-xs-12 no-padding mobile-membership-plan-list">
								<h5 class="membership-plan-includes">Plan includes:</h5>
								<ul class="mobile-retail-plan-feature-list">
									<li>25 personalized, curated deliveries</li>
									<li>Direct access to personal drink curator</li>
									<li>An introductory sync with your curator</li>
									<li>4 curated tasting sessions for you & friends</li>
									<li>1.5x reward points for limited/rare drinks</li>
								</ul>
							</div>
						</div>
						<div class="row-no-margin">
							<div class="col-xs-12 no-padding">
								<h5 class="contract-type-header">
									Membership cost
									<sup  data-toggle="tooltip" title="The $96 12-month membership includes the items listed 
																		but does not include the cost of the drinks. However,
																		our drink prices are competetive, in line with local 
																		shops. Also, although the membership fee is 
																		non-refundable, you can stop deliveries at any 
																		time and are under no obligation to buy any more 
																		drinks from Knird.">
										?
									</sup>
								</h5>
								<h2 class="retailer-plan-cost">$8<span class="with-contract">/mo</span></h2>					
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row value-prop-row hidden-xs">
		<div class="col-sm-4">
			<div class="row homepage-plan-options">
				<div class="col-xs-12 no-padding">
					<div class="row no-margin">
						<div class="col-xs-12">
							<h3 class="retail-plan-header">1 month membership</h3>
						</div>
					</div>
					<div class="row no-margin">
						<div class="col-xs-0 col-sm-1"></div>
						<div class="col-xs-12 col-sm-10 no-padding mobile-membership-plan-list">
							<h5 class="membership-plan-includes">Plan includes:</h5>
							<ul class="retail-plan-feature-list">
								<li>2 personalized, curated deliveries</li>
								<li>Direct access to personal drink curator</li>
								<li>An introductory sync with your curator</li>
							</ul>
						</div>
					</div>
					<div class="row-no-margin">
						<div class="col-xs-12 no-padding">
							<h5 class="contract-type-header">Membership cost
								<sup  data-toggle="tooltip" title="The $12 1-month membership includes the items listed 
																	but does not include the cost of the drinks. However,
																	our drink prices are competetive, in line with local 
																	shops. Also, although the membership fee is 
																	non-refundable, you can stop deliveries at any 
																	time and are under no obligation to buy any more 
																	drinks from Knird.">
									?
								</sup>
							</h5>
							<h2 class="retailer-plan-cost">$12<span class="with-contract">/mo</span></h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-sm-4">
			<div class="row homepage-plan-options">
				<div class="col-xs-12 no-padding">
					<div class="row no-margin">
						<div class="col-xs-12">
							<h3 class="retail-plan-header">3 month membership</h3>
						</div>
					</div>
					<div class="row no-margin">
						<div class="col-xs-0 col-sm-1"></div>
						<div class="col-xs-12 col-sm-10 no-padding mobile-membership-plan-list">
							<h5 class="membership-plan-includes">Plan includes:</h5>
							<ul class="retail-plan-feature-list">
								<li>6 personalized, curated deliveries</li>
								<li>Direct access to personal drink curator</li>
								<li>An introductory sync with your curator</li>
								<li>1 curated tasting session for you</li>
								<li>Reward points for limited/rare drinks</li>
							</ul>
						</div>
					</div>
					<div class="row-no-margin">
						<div class="col-xs-12 no-padding">
							<h5 class="contract-type-header">
								Membership cost
								<sup  data-toggle="tooltip" title="The $30 3-month membership includes the items listed 
																	but does not include the cost of the drinks. However,
																	our drink prices are competetive, in line with local 
																	shops. Also, although the membership fee is 
																	non-refundable, you can stop deliveries at any 
																	time and are under no obligation to buy any more 
																	drinks from Knird.">
									?
								</sup>
							</h5>
							<h2 class="retailer-plan-cost">$10<span class="with-contract">/mo</span></h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-sm-4">
			<div class="row homepage-plan-options">
				<div class="col-xs-12 no-padding">	
					<div class="row no-margin">
						<div class="col-xs-12">
							<h3 class="retail-plan-header">12 month membership</h3>
						</div>
					</div>
					<div class="row no-margin">
						<div class="col-xs-0 col-sm-1"></div>
						<div class="col-xs-12 col-sm-10 no-padding mobile-membership-plan-list">
							<h5 class="membership-plan-includes">Plan includes:</h5>
							<ul class="retail-plan-feature-list" id="retail-plan-feature-list-12-mo">
								<li>25 personalized, curated deliveries</li>
								<li>Direct access to personal drink curator</li>
								<li>An introductory sync with your curator</li>
								<li>4 curated tasting sessions for you & friends</li>
								<li>1.5x reward points for limited/rare drinks</li>
							</ul>
						</div>
					</div>
					<div class="row-no-margin">
						<div class="col-xs-12 no-padding">
							<h5 class="contract-type-header">
								Membership cost
								<sup  data-toggle="tooltip" title="The $96 12-month membership includes the items listed 
																	but does not include the cost of the drinks. However,
																	our drink prices are competetive, in line with local 
																	shops. Also, although the membership fee is 
																	non-refundable, you can stop deliveries at any 
																	time and are under no obligation to buy any more 
																	drinks from Knird.">
									?
								</sup>
							</h5>
							<h2 class="retailer-plan-cost">$8<span class="with-contract">/mo</span></h2>					
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row no-margin">
		<div class="col-xs-1 col-sm-4"></div>
		<div class="col-xs-10 col-sm-4">
			<%= link_to "Get started", invitation_code_path, :anchor => "homepage-get-started-box", class: 'btn btn-default btn-success formButton-get-started-bottom-homepage' %>
		</div>
	</div>
</div>