<div class="container <%= @prices_section_view %>">
	<div class="row">
		<div class="col-xs-12">
			<h3 class="index-section-header">You always have final approval. No surprises!</h3> 
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-offset-1 col-sm-10">
			<h4 class="expectations-statements">
				Knird's mission is to learn your personal preferences and tailor your drinks accordingly.  So 
				<span>the cost of drinks in each delivery varies</span>, based on what we procure to fit your tastes.  
			</h4>
			<h4 class="expectations-statements">
				<span>Our prices are always competitive</span> with both big box stores and local bottle 
				shops <span class="homepage-read-more-text">
						(<%= link_to "read how", faqs_path(:anchor => "drinks-actually-cost-question"), :target => "_blank" %>)
					</span>.  Still, you can review each delivery and make changes if you aren't 
					happy with any aspect, including price.
			</h4>
			<h4 class="expectations-statements">
				For a sense of our pricing and variety, <span>check out these recently delivered 
				drinks</span>:
			</h4>
		</div>
	</div>
	<div class="row example-prices-headers">
		<div class="col-xs-6 col-sm-offset-1 col-sm-5 price-examples price-example-chosen" id="beer-examples">
			<h5>Beers</h5>
		</div>
		<div class="col-xs-5 price-examples price-example-not-chosen" id="cider-examples">
			<h5>Ciders</h5>
		</div>
	</div> 
	<div class="row no-margin beer-examples show">
		<% @beer_examples.each do |drink| %>
			<div class="col-xs-12 col-sm-6 col-md-4 beer-tile-container">
				<div class="drink-delivery-tile">
					<%= render 'layouts/drink_info_homepage', drink: drink %>
				</div>
			</div>
		<% end %>
	</div>
	<div class="row no-margin cider-examples hidden">
		<% @cider_examples.each do |drink| %>
			<div class="col-xs-12 col-sm-6 col-md-4 beer-tile-container">
				<div class="drink-delivery-tile">
					<%= render 'layouts/drink_info_homepage', drink: drink %>
				</div>
			</div>
		<% end %>
	</div>
</div>
