<% if @response == "invite" %>
	<h4 class="check-delivery-area-text">Thanks for your interest in Knird, <%= @name %>!</h4>
	<h4 class="check-delivery-area-text">Be on the lookout for an invite. We're excited for the opportunity to blow your socks off. </h4>
<% else %>
	<h4 class="check-delivery-area-text">Thanks for your interest in Knird, <%= @name %>!</h4>
	<h4 class="check-delivery-area-text">We'll notify you just as soon as we can get to your neighborhood.</h4>
<% end %>
