<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h3 class="index-section-header">How Knird works</h3> 
		</div>
	</div>
	<div class="row no-margin">
		<div class="col-xs-12">
			<div class="row how-it-works-overview">
				<div class="col-xs-12 col-sm-4 how-it-works-holder">
					<div class="row no-margin">
						<div class="col-xs-12 padding-10 no-padding-right">
							<div class="how-it-works-number">
								<h4>1</h4>
							</div>
							<h4 class="how-it-works-headline">
								Create a drink profile
							</h4>
						</div>
					</div>
					<div class="row no-margin">
						<div class="col-xs-12 padding-10 no-padding-right">
							<h5 class="how-it-works-desc">
								We tailor your deliveries and curate your drinks based on your specific drink preferences.
							</h5>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 how-it-works-holder">
					<div class="row no-margin">
						<div class="col-xs-12 padding-10 no-padding-right">
							<div class="how-it-works-number">
								<h4>2</h4>
							</div>
							<h4 class="how-it-works-headline">
								Choose a delivery plan
							</h4>
						</div>
					</div>
					<div class="row no-margin">
						<div class="col-xs-12 padding-10">
							<h5 class="how-it-works-desc">
								We offer both membership plans and ad hoc deliveries&mdash;flexible options for everyone.
							</h5>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 how-it-works-holder">
					<div class="row no-margin">
						<div class="col-xs-12 padding-10 no-padding-right">
							<div class="how-it-works-number">
								<h4>3</h4>
							</div>
							<h4 class="how-it-works-headline">
								Enjoy amazing drinks
							</h4>
						</div>
					</div>
					<div class="row no-margin">
						<div class="col-xs-12 padding-10">
							<h5 class="how-it-works-desc">
								We combine your preferences with our expertise to ensure you get craft drinks you'll love.
							</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>   
	<div class="row no-margin">
		<div class="col-xs-offset-1 col-xs-10 col-sm-offset-4 col-sm-4 text-center">
			<%= link_to drink_profile_categories_path, :class => 'btn btn-success lower-get-started-button' do %>
				<i class="fa fa-play">&nbsp;</i>
				Get started for free 
			<% end %>
		</div>
	</div>	
	<div class="row more-info-text-holder">
		<div class="col-xs-12 col-sm-offset-2 col-sm-8 text-center">
			<h5 class="more-info-text">
				For more detail about how Knird works, check out our
				<span class="homepage-read-more-text"><%= link_to "FAQs", faqs_path(:anchor => "faq-section"), :target => "_blank" %></span>.
			</h5>
		</div>
	</div>
</div>