<div class="row no-margin">
	<div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
		<h3 class="about-us-section-header">
			How, you ask?
		</h3>
	</div>
</div>
<div class="row no-margin">
	<div class="col-xs-12 col-sm-4">
		<div class="row no-margin">
			<div class="col-xs-3 col-md-2">
				<div class="about-us-number-holder">
					<h2>1</h2>
				</div>
			</div>
			<div class="col-xs-9 col-md-10 no-padding-right">
				<h4 class="about-us-header-text"><span>We make it easy to find great drinks</span></h4>
			</div>
		</div>
		<div class="row no-margin">
			<div class="col-xs-12">
				<h4 class="about-us-info-text">
					Our personalized projected ratings for each drink quickly highlight what is worth your 
					time&mdash;and limited stomach space.
				</h4>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4">
		<div class="row no-margin">
			<div class="col-xs-3 col-md-2">
				<div class="about-us-number-holder">
					<h2>2</h2>
				</div>
			</div>
			<div class="col-xs-9 col-md-10 no-padding-right">
				<h4 class="about-us-header-text"><span>We deliver great drinks to you</span></h4>
			</div>
		</div>
		<div class="row no-margin">
			<div class="col-xs-12">
				<h4 class="about-us-info-text">
					No more running around town to get your hands on limited quantities of greatness. 
					Sit back and let greatness come to you!
				</h4>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4">
		<div class="row no-margin">
			<div class="col-xs-3 col-md-2">
				<div class="about-us-number-holder">
					<h2>3</h2>
				</div>
			</div>
			<div class="col-xs-9 col-md-10 no-padding-right">
				<h4 class="about-us-header-text"><span>We have options for everyone</span></h4>
			</div>
		</div>
		<div class="row no-margin">
			<div class="col-xs-12">
				<h4 class="about-us-info-text">
					Whether you enjoy the hunt or you prefer a curator to find 
					drinks for you&mdash;or something inbetween&mdash;we accomodate all!  
				</h4>
			</div>
		</div>
	</div>
</div>
<div class="row no-margin">
	<div class="col-xs-offset-1 col-xs-10 col-sm-offset-4 col-sm-4">
		<%= link_to temp_home_path, :class => 'btn btn-success about-us-get-started-button' do %>
			<i class="fa fa-play">&nbsp;</i>
			Get started for free 
		<% end %>
	</div>
</div>
