<div class="container">
	<div class="row no-margin hidden" id="ready-and-bouncing-arrow-row">
		<div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4 text-center">
			<div class="get-started-words-box">
				<h2 class="get-started-words" id="ready-indication">Ready!</h2>
			</div>
		</div>
		<div class="col-xs-12 text-center">
			<div class="arrow bounce">
				<i class="fa fa-chevron-down fa-5x" aria-hidden="true"></i>
			</div>
		</div>	
	</div>
	<div class="row no-margin">
		<div class="col-xs-12 text-center">
	      <h3 class="home-prompt-text">
	      	Thanks for your patience! 
	      </h3>
		</div>
		<div class="col-xs-12 text-center">
			<div class="col-xs-offset-1 col-xs-10 col-sm-offset-4 col-sm-4 text-center">
				<%= link_to "Let me see the drinks!", stocks_path, class: "btn btn-success stock-ranking-ready-button" %>
			</div>
		</div>
	</div>
	<% if session[:new_membership_path] == true %>
		<div class="row extra-get-started-option-row">
			<div class="col-xs-12 text-center">
		      <p>
		      	or 
		      </p>
			</div>
			<div class="col-xs-12 text-center">
				<div class="col-xs-offset-1 col-xs-10 col-sm-offset-4 col-sm-4 text-center">
					<%= link_to "Continue with Knird Preferred", account_personal_path, class: "btn btn-success stock-ranking-ready-button" %>
				</div>
			</div>
		</div>
	<% end %>
	<% if session[:new_trial_path] == true %>
		<div class="row extra-get-started-option-row">
			<div class="col-xs-12 text-center">
		      <p>
		      	or 
		      </p>
			</div>
			<div class="col-xs-12 text-center">
				<div class="col-xs-offset-1 col-xs-10 col-sm-offset-4 col-sm-4 text-center">
					<%= link_to "Continue with a trial membership", account_personal_path, class: "btn btn-success stock-ranking-ready-button" %>
				</div>
			</div>
		</div>
	<% end %>
</div>
