<div class="row knird-info-one-text-row">
	<div class="col-xs-1 col-sm-offset-1 col-sm-1 col-md-2 text-center no-padding">
		<a class="carousel-control-prev" href="#knird_info_one_carousel" role="button" data-slide="prev">
		    <i class="fa fa-chevron-left fa-2x" aria-hidden="true"></i>
		  </a>
	</div>
	<div class="col-xs-10 col-sm-8 col-md-6 text-center">
		<div class="knird_info carousel slide carousel-fade" id="knird_info_one_carousel" data-ride="carousel" data-pause="null">
			<div class="carousel-inner">
			    <div class="item active">
			      <h3 class="home-carousel-text" id="first-info-statement">
			      	Now we're adding <span class="prompt-emphasis">personalized, projected ratings</span> to each drink for you.
			      </h3>
			    </div>
			    <div class="item">
			      <h3 class="home-carousel-text">
			      	This helps you <span class="prompt-emphasis">quickly find drinks you'll love.</span>
			      </h3>
			    </div>
			    <div class="item">
			      <h3 class="home-carousel-text">
			      	And as we learn what you like, <span class="prompt-emphasis">our recommendations improve.</span>
			      </h3>
			    </div>
			    <div class="item">
			      <h3 class="home-carousel-text">
			      	Also, <span class="prompt-emphasis">we deliver</span>&mdash;so relax, no need to run around!
			      </h3>
			    </div>
			    <div class="item">
			      <h3 class="home-carousel-text">
			      	Plus, with <span class="prompt-emphasis">Knird Preferred</span> you can get <span class="prompt-emphasis">FREE delivery</span>. 
			      </h3>
			    </div>
			</div>
		</div>
	</div>
	<div class="col-xs-1 col-md-2 text-center no-padding">
		 <a class="carousel-control-next" href="#knird_info_one_carousel" role="button" data-slide="next">
		    <i class="fa fa-chevron-right fa-2x" aria-hidden="true"></i>
		  </a>
	</div>
</div>
