<div class="container">
	<div class="row landing-page-first-row value-prop-holder-about-us-page">
		<div class="col-xs-12 text-center">
			<h1 class="first-words">Knird is officially closed. Thank you for your support!</h1>
		</div>
		<div class="col-xs-12">
			<h3 class="index-section-header">We wish you the best of luck in your pursuit of the perfect pint!</h3>
		</div>
	</div>
</div>
