<div class="container">
	<div class="row knird-info-one-text-row">
		<div class="col-xs-12 text-center">
			<div class="knird_info carousel slide carousel-fade" id="knird_info_one_carousel" data-ride="carousel" data-pause="null">
				<div class="carousel-inner">
				    <div class="item active">
				      <h3 class="home-prompt-text" id="first-info-statement">
				      	We're preparing your personalized view. 
				      	Should be quick...
				      </h3>
				    </div>
				
				    <div class="item">
				      <h3 class="home-prompt-text">
				      	Do you know why Knird is <span class="prompt-emphasis">the easiest way to get amazing craft drinks</span>?
				      </h3>
				    </div>
				
				    <div class="item">
				      <h3 class="home-prompt-text">
				      	We add a <span class="prompt-emphasis">personalized</span>, projected rating to each drink for you.
				      </h3>
				    </div>
				    
				    <div class="item">
				      <h3 class="home-prompt-text">
				      	This makes it much easier to <span class="prompt-emphasis">find</span> drinks you'll love.
				      </h3>
				    </div>
				    <div class="item">
				      <h3 class="home-prompt-text">
				      	We create these ratings by commingling <span class="prompt-emphasis">your taste preferences</span> with what is trending. 
				      </h3>
				    </div>
				    
				    <div class="item">
				      <h3 class="home-prompt-text">
				      	And as we learn more about what you like, <span class="prompt-emphasis">the recommendations are more accurate</span>.
				      </h3>
				    </div>
				    
				    <div class="item">
				      <h3 class="home-prompt-text">
				      	Also, <span class="prompt-emphasis">we deliver</span>&mdash;so no more run around for you!
				      </h3>
				    </div>
				    
				    <div class="item">
				      <h3 class="home-prompt-text">
				      	Finally, <span class="prompt-emphasis">with Knird Preferred you can get FREE delivery</span> and a personal drink assistant. 
				      </h3>
				    </div>

				</div>
				<a class="carousel-control-prev" href="#knird_info_one_carousel" role="button" data-slide="prev">
				    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
				    <span class="sr-only">Previous</span>
				  </a>
				  <a class="carousel-control-next" href="#knird_info_one_carousel" role="button" data-slide="next">
				    <span class="carousel-control-next-icon" aria-hidden="true"></span>
				    <span class="sr-only">Next</span>
				  </a>
			</div>
		</div>
	</div>
</div>
