<div class="row knird-info-one-text-row">
	<div class="col-xs-12 text-center">
		<div class="knird_info carousel carousel slide carousel-fade" id="knird_info_two_carousel" data-ride="carousel" data-pause="null">
			<div class="carousel-inner">
			    <div class="item active">
			      <h3 class="home-prompt-text" id="second-info-statement">
			      	2nd message - 1
			      </h3>
			    </div>
			
			    <div class="item">
			      <h3 class="home-prompt-text">
			      	2nd message - 2
			      </h3>
			    </div>
			
			    <div class="item">
			      <h3 class="home-prompt-text">
			      	2nd message - 3
			      </h3>
			    </div>
			    
			    <div class="item">
			      <h3 class="home-prompt-text">
			      	2nd message - 4
			      </h3>
			    </div>
			    
			    <div class="item">
			      <h3 class="home-prompt-text">
			      	2nd message - 5
			      </h3>
			    </div>
			    
			</div>
		</div>
	</div>
</div>