<div class="row knird-info-one-text-row">
	<div class="col-xs-12 text-center">
		<div class="knird_info carousel carousel slide carousel-fade" id="knird_info_two_carousel" data-ride="carousel" data-pause="null">
			<div class="carousel-inner">
			    <div class="item active">
			      <h3 class="home-prompt-text" id="second-info-statement">
			      	Um, this is embarrassing...should be ready in just one moment!
			      </h3>
			    </div>
			</div>
		</div>
	</div>
</div>