<div class="container">
	<div class="row landing-page-first-row value-prop-holder-about-us-page">
		<div class="col-xs-12 text-center">
			<h1 class="first-words">Knird is the easiest way to get rad craft beers and ciders!</h1>
		</div>
	</div>
</div>
