<div class="container">
	<div class="row">
		<div class="col-xs-0 col-sm-1 col-md-0"></div>
		<div class="col-xs-12 col-sm-10 col-md-12">
			<h3 class="index-section-header">Knird provides amazing craft drinks without all the hassle.</h3> 
		</div>
	</div>
	<div class="row value-prop-row">
		<div class="col-sm-4">
			<div class="value-prop-holder">
    			<div class="icon-background">
    				<h3><i class="fa fa-truck fa-2x"></i></h3>
    			</div>
    			<h3 class="value-header"><span class="homepage-emphasis">Conveniently</span> delivered.</h3> 
    			<h4 class="value-desc">Get the best drinks without all the run around; we'll deliver to your home or office.</h4>
    		</div>
		</div>
		<div class="col-sm-4">
			<div class="value-prop-holder">
    			<div class="icon-background">
    				<h3><i class="fa fa-heart fa-2x"></i></h3>
    			</div>
    			<h3 class="value-header"><span class="homepage-emphasis">Personalized</span> service.</h3> 
    			<h4 class="value-desc">We deliver drinks you'll love based on your personal taste preferences.</h4>
    		</div>
		</div>
		<div class="col-sm-4">
			<div class="value-prop-holder">
    			<div class="icon-background">
    				<h3><i class="fa fa-thumbs-up fa-2x"></i></h3>
    			</div>
    			<h3 class="value-header"><span class="homepage-emphasis">Smart</span> ratings.</h3> 
    			<h4 class="value-desc">Your future recommendations improve every time you rate drinks and provide feedback.</h4>
    		</div>
		</div>	
		<div class="col-sm-4">
			<div class="value-prop-holder">
    			<div class="icon-background">
    				<h3><i class="fa fa-plus fa-2x"></i></h3>
    			</div>
    			<h3 class="value-header"><span class="homepage-emphasis">Expanded</span> palate.</h3> 
    			<h4 class="value-desc">Learn what flavors and attributes you like most and least in different drink styles.</h4>
    		</div>
		</div>
		<div class="col-sm-4">
			<div class="value-prop-holder">
    			<div class="icon-background">
    				<h3><i class="fa fa-star fa-2x"></i></h3>
    			</div>
    			<h3 class="value-header"><span class="homepage-emphasis">Amazing</span> rewards.</h3> 
    			<h4 class="value-desc">Earn access to limited, hard-to-find rarities by simply drinking and rating.</h4>
    		</div>
		</div>
		<div class="col-sm-4">
			<div class="value-prop-holder">
    			<div class="icon-background">
    				<h3><i class="fa fa-gift fa-2x"></i></h3>
    			</div>
    			<h3 class="value-header"><span class="homepage-emphasis">Pleasant</span> surprises.</h3> 
    			<h4 class="value-desc">You can review and approve all deliveries, so no unwanted surpises&mdash;just the good kind.</h4>
    		</div>
		</div>
	</div>
</div>