<div class="container">
	<div class="row">
		<% if @homepage_view == "local_one" %>
			<div class="col-xs-12 padding-5">
				<h3 class="index-section-header">For those who prefer to <span>drink amazing drinks</span> <br>but don't want to spend much time thinking about it...</h3> 
			</div>
		<% elsif @homepage_view == "local_two" %>
			<div class="col-xs-12 padding-5">
				<h3 class="index-section-header">For those with <span>limited opportunities to imbibe</span> <br>and the hope to never waste those moments on crappy drinks...</h3> 
			</div>
		<% elsif @homepage_view == "nonlocal_one" %>
			<div class="col-xs-12 padding-5">
				<h3 class="index-section-header">For those who want <span>Pacific NW beers and ciders</span> <br>but don't currently have access to them...</h3> 
			</div>
		<% else %>
			<div class="col-xs-12 padding-5">
				<h3 class="index-section-header">For those with <span>limited opportunities to imbibe</span> <br>and the hope to never waste those moments...</h3> 
			</div>
		<% end %>
	</div>
	<div class="row">
		<div class="col-sm-offset-1 col-sm-10">
			<h4 class="value-prop-quote">Knird is like my best-friend-beer-geek who knows what I like and always recommends something amazing. 
				Except my best friend would never deliver.</h4>
		</div>
	</div>
</div>