<div class="container">
	<div class="row">
		<div class="col-xs-0 col-sm-1 col-md-0"></div>
		<div class="col-xs-12 col-sm-10 col-md-12">
			<h3 class="index-section-header">Amazing, hassle-free craft drinks</h3> 
		</div>
	</div>
	<div class="row value-prop-row">
		<div class="col-xs-0 col-sm-1"></div>
		<div class="co-xs-12 col-sm-1 no-padding">
    		<i class="fa fa-heart fa-4x homepage-emphasis"></i>
		</div>
		<div class="col-xs-12 col-sm-10">
			<h3 class="value-header"><span class="homepage-emphasis">Personalized service.</span>
				<span class="value-desc">
					Your curator learns your drink preferences and ensures you get drinks you'll love, simplifying the 
					ever expanding craft world to suit your palate.
				</span>
			</h3>
		</div>
	</div>
	<div class="row value-prop-row">
		<div class="col-xs-0 col-sm-1"></div>
		<div class="col-xs-12 col-sm-1 no-padding">
    		<i class="fa fa-plus fa-4x homepage-emphasis"></i>
		</div>
		<div class="col-xs-12 col-sm-10">
			<h3 class="value-header"><span class="homepage-emphasis">Better experience.</span>
				<span class="value-desc">
					From helping you expand your palate to getting your hands on limited and rare drinks, we have you 
					covered.
				</span>
			</h3>
		</div>	
	</div>
	<div class="row value-prop-row">
		<div class="col-xs-0 col-sm-1"></div>
		<div class="col-xs-12 col-sm-1 no-padding">
    		<i class="fa fa-truck fa-4x homepage-emphasis"></i>
		</div>
		<div class="col-xs-12 col-sm-10">
			<h3 class="value-header"><span class="homepage-emphasis">Convenient delivery.</span>
				<span class="value-desc">
					We deliver the best drinks and newest releases to either your work or home.  We’ll do the run 
					around for you!
				</span>
			</h3>
		</div>
	</div>
</div>