<div class="container">
	<div class="row">
		<div class="col-xs-12 padding-5">
			<h3 class="index-section-header">For those who want to love what they drink <br>but don't have time to find drinks they love...</h3> 
		</div>
	</div>
	<div class="row value-prop-row">
		<div class="col-xs-12 col-sm-4">
			<i class="fa fa-heart fa-5x homepage-emphasis value-prop-icons"></i>
			<h3 class="value-header"><span class="homepage-emphasis">Personalized service.</span>
				<span class="value-desc">
					Your curator uses your drink preferences to sift through an ever expanding craft world and find drinks you'll love.
				</span>
			</h3>
		</div>
		<div class="col-xs-12 col-sm-4">
			<i class="fa fa-truck fa-5x homepage-emphasis value-prop-icons"></i>
			<h3 class="value-header"><span class="homepage-emphasis">Convenient delivery.</span>
				<span class="value-desc">
					We do the run around for you, sourcing and delivering your curated drinks to either your work or home.
				</span>
			</h3>
		</div>
		<div class="col-xs-12 col-sm-4">
			<i class="fa fa-trophy fa-5x homepage-emphasis value-prop-icons"></i>
			<h3 class="value-header"><span class="homepage-emphasis">Amazing rewards.</span>
				<span class="value-desc">
					Knird plans provide both access to limited items and cash back for purchased and rated drinks.
				</span>
			</h3>
		</div>
	</div>
</div>