<div class="container">
	<div class="row">
		<div class="col-xs-0 col-sm-1 col-md-0"></div>
		<div class="col-xs-12 col-sm-10 col-md-12">
			<h3 class="index-section-header">Knird provides amazing craft drinks without all the hassle</h3> 
		</div>
	</div>
	<div class="row value-prop-row">
		<div class="col-sm-1"></div>
		<div class="col-sm-1 no-padding">
			<div class="value-prop-holder">
    			<div class="icon-background heart-icon">
    				<h3><i class="fa fa-heart fa-2x"></i></h3>
    			</div>
    		</div>
		</div>
		<div class="col-sm-10">
			<h3 class="value-header"><span class="homepage-emphasis">Personalized</span> service.
				<span class="value-desc">
					Your personal curator will learn your drink preferences and ensure you get drinks you'll love. 
					Our goal is to simplify the ever expanding craft world so you get drinks suited to your palate 
					without having to put a lot of extra time into it.
				</span>
			</h3>
		</div>
	</div>
	<div class="row value-prop-row">
		<div class="col-sm-1"></div>
		<div class="col-sm-1 no-padding">
			<div class="value-prop-holder">
    			<div class="icon-background truck-icon">
    				<h3><i class="fa fa-truck fa-2x"></i></h3>
    			</div>
    		</div>
		</div>
		<div class="col-sm-10">
			<h3 class="value-header"><span class="homepage-emphasis">Convenient</span> delivery.
				<span class="value-desc">
					We bring the best drinks to you--either to your work or home.  You no longer need to run around 
					town to find a good drink selection or chase down the newest release. We’ll do the run around for 
					you!
				</span>
			</h3>
		</div>
	</div>
	<div class="row value-prop-row">
		<div class="col-sm-1"></div>
		<div class="col-sm-1 no-padding">
			<div class="value-prop-holder">
    			<div class="icon-background plus-icon">
    				<h3><i class="fa fa-plus fa-2x"></i></h3>
    			</div>
    		</div>
		</div>
		<div class="col-sm-10">
			<h3 class="value-header"><span class="homepage-emphasis">Better</span> experience.
				<span class="value-desc">
					Whether you’re just getting more familiar with craft or you already know your way around a bottle 
					shop, we’ve got something better for you.  From helping you expand your palate to getting your 
					hands on limited and rare drinks, our curators have you covered.
				</span>
			</h3>
		</div>	
	</div>
</div>