<div class="container">
	<div class="row">
		<div class="col-xs-0 col-sm-1 col-md-0"></div>
		<div class="col-xs-12 col-sm-10 col-md-12">
			<h3 class="index-section-header">What you can expect</h3> 
		</div>
	</div>
	<div class="row">
		<div class="col-xs-0 col-sm-1"></div>
		<div class="col-xs-12 col-sm-11">
			<h4 class="expectations-statements">First, the quantity we deliver is based on the amount you consume; and you can adjust 
				quantity at any time. Second, the cost per drink varies based on type, size, 
				and rarity, with a range of $1.25 &ndash; $30. Often, the average cost per drink is influenced 
				by where you are in <span class="homepage-emphasis">your craft journey</span>...</h4>
		</div>

	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-4 craft-stage-container">
			<h3 class="homepage-emphasis">Explorer</h3>
			<i class="el el-compass el-4x craft-journey-icons"></i>
			<h5 class="craft-stage-explanation">Enjoy good quality and would like to understand craft better</h5>
			<h4 class="value-desc">Avg drink cost: <span class="homepage-emphasis">~ $3</span></h4>
			<h6 class="hidden-xs visible-sm visible-md visible-lg visible-xl">
				<%= link_to "view sample delivery", "#", :class => 'text-center', data: {toggle: "modal", target: "#explorer_sample"} %>
			</h6>
		</div>
		<div class="col-xs-12 col-sm-4 craft-stage-container">
			<h3 class="homepage-emphasis">Geek</h3>
			<i class="el el-glasses el-4x craft-journey-icons"></i>
			<h5 class="craft-stage-explanation">Been known to obsess over hops, barrel-type, and obscurity</h5>
			<h4 class="value-desc">Avg drink cost: <span class="homepage-emphasis">~ $5</span></h4>
			<h6 class="hidden-xs visible-sm visible-md visible-lg visible-xl">
				<%= link_to "view sample delivery", "#", :class => 'text-center', data: {toggle: "modal", target: "#geek_sample"} %>
			</h6>
		</div>
		<div class="col-xs-12 col-sm-4 craft-stage-container">
			<h3 class="homepage-emphasis">Connoisseur</h3>
			<i class="el el-star-empty el-4x craft-journey-icons"></i>
			<h5 class="craft-stage-explanation">It's all about the depth of flavors and complexity of tastes</h5>
			<h4 class="value-desc">Avg drink cost: <span class="homepage-emphasis">~ $6</span></h4>
			<h6 class="hidden-xs visible-sm visible-md visible-lg visible-xl">
				<%= link_to "view sample delivery", "#", :class => 'text-center', data: {toggle: "modal", target: "#connoisseur_sample"} %>
			</h6>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-0 col-sm-1"></div>
		<div class="col-xs-12">
			<h3 class="expectations-statements expectations-third-statement">You always have final approval of
				your delivery. No surprises!</h3>
		</div>
	</div>    	
</div>