<h4 class="check-delivery-area-text">See if we deliver to your home of office.</h4>
<%= text_field_tag 'delivery_area', nil, placeholder: 'Enter zip code to get started', class: 'form-control check-zip-code-button', id: 'check-zip-code' %>