<% if user_signed_in? %>
	<%= render 'layouts/header' %> 
<% else %>
	<%= render 'layouts/header_home_temp' %> 
<% end %>
<div class="container">
	<div class="row more-info-page-header-row">
		<div>
		  <h3 class="recent-ratings-header">FAQs</h3>
		</div>
	</div>
	<div class="row no-margin">
		<div>
			<h4 class="faq-question">
				How does Knird make the sausage?
			</h4>
			<h4 class="faq-answer">
				We thought you'd never ask!
			</h4>
			<h4 class="faq-answer">
				We built a recommendation algorithm that gets better the more it learns about you. This helps us cull the 
				large universe of craft drinks to find specific drinks to fit your taste profile. But we don't stop there.  
				We all know how accurate recommendation engines can be....So, we layer on an actual human eye to make the 
				final curation decisions, ensuring we apply common sense to each recommendation.
			</h4>
			<h4 class="faq-answer">
				We also utilize this process to inform our inventory selection, so we order only what we know our customers
				will enjoy. This means we don't carry a large inventory just to cater to anyone who comes in off the street.  
				This keeps our costs down and allows us to offer you the service with competitive prices.
			</h4>
			
			<h4 class="faq-question">
				Why do you have membership plans?
			</h4>
			<h4 class="faq-answer">
				Membership plans are our way of rewarding repeat customers. When you sign up for a prepaid plan, you 
				indicate you will buy from us multiple times, so we want to give you our best delivery prices, best drink 
				prices, and most favored access to rare and limited drinks.
			</h4>
			<h4 class="faq-answer last-answer-paragraph">
				But you don't need to buy a membership plan. You can always choose the "no plan" plan and just place an order 
				whenever your supplies are running low.
			</h4>
			
			<h4 class="faq-question" id="plan-cost-includes-question">
				Why do your membership plans cover only the cost of curation and delivery and not also include a set number of drinks?
			</h4>
			<h4 class="faq-answer">
				We believe plans that include a set number of drinks for a set cost end up doing a disservice to the customer.  
				Often times, these plans mix in old or crappy drinks that can be bought at a discount in order to preserve profit 
				margin. This means the customer loses out.
			</h4>
			<h4 class="faq-answer last-answer-paragraph">
				Knird's approach of including only drinks that fit your taste preferences gives us the freedom to focus entirely 
				on the customer. And, our approach is fully transparent&mdash;sharing the cost of each drink we recommend, while 
				giving you the opportunity to review and change each curated delivery.
			</h4>
			
			<h4 class="faq-question" id="drinks-actually-cost-question">
				How much will drinks actually cost?
			</h4>
			<h4 class="faq-answer">
				We interpret this question to mean either 1) What am I actually getting into here?, or 2) I'm 
				not going to get price gouged because I'm signing up for a plan, am I?
			</h4>
			<h4 class="faq-answer">
				First, we curate drinks for each delivery according to your personal taste preferences. The cost of each delivery 
				will vary depending on what we are able to procure that fits your taste profile. However, we share each curated delivery 
				with you so you have the time to review and make changes if you like. Think of us as one of your employees, or a butler, 
				who is an extension of you. <u>You</u> have final say on the number and types of drinks in each delivery&mdash;
				and therefore you have the final say on the cost of each delivery.
			</h4>
			<h4 class="faq-answer last-answer-paragraph">
				Second, you will find our prices competitive with the big box stores, and often our prices are lower than many 
				local specialty bottle shops. How do we do it? We only buy drinks we know fit the taste profiles of our customers, 
				so we keep our inventory very streamlined. This keeps our costs low and our drink prices ultra competitive.
			</h4>
			
			<h4 class="faq-question">
				I already mostly know what kind of drinks I like&mdash;I'm a bit of a beer geek myself.  What can Knird offer me?
			</h4>
			<h4 class="faq-answer">
				Knird offers you a lot! 
			</h4>
			<h4 class="faq-answer">	
				First, we break up 4-packs and 6-packs without adding a markup so you can easily try drinks
				without committing to a full pack.
			</h4>
			<h4 class="faq-answer">
				Second, we keep an eye on industry trends, special releases, and limited gems.  We'll bring these to 
				your attention so you don't miss out on the next big thing.
			</h4>
			<h4 class="faq-answer">
				Related to that, the more you buy from us, the more bottle caps (reward points) you get to help you 
				jump to the front of the line on rare and limited drinks. This means you could get a big release without 
				standing in line hoping you make the cutoff.
			</h4>
			<h4 class="faq-answer last-answer-paragraph">
				In short, we make sure you can keep up with the ever-changing craft scene without having to spend an 
				inordinate amount of time on it.
			</h4>
			
			<h4 class="faq-question">
				Can we see Knird's inventory?
			</h4>
			<h4 class="faq-answer">
				Yes you can! Once you create a drink profile and sign in, you'll be able to review our current
				inventory.
			</h4>
			<h4 class="faq-answer">	
				So, the next question....Why do you have to sign up first? Because Knird is built around the idea
				that we make it easier for you to find drinks you like. Once you complete your drink profile,
				we can better match drinks to your profile&mdash;like attach a projected rating to each drink that
				suggests how good of a match it might be for you.  We can only do this once you've created a 
				drink profile...so that comes first.
			</h4>
		</div>
	</div>
</div>
<%= render 'layouts/footer' %>