<%= render 'layouts/header_home' %> 
<!-- Page Content -->
    <section class="background-light about_us_section">
		<%= render 'section_about_us_intro' %>
    </section>
<%= render 'layouts/footer' %>