<%= render 'layouts/header' %> 
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-offset-1 col-sm-10">
			<h3 class="index-section-header plan-section">Knird offers both delivery plans and ad hoc ordering</h3> 
		</div>
	</div>
	<div class="row membership-details-row show" id="membership-details-row">
		<%= render 'zip_code_response' %>
	</div>
</div>
<%= render 'layouts/footer' %>