<%= render 'layouts/header_early_signup' %> 
<div class="container">
	<div class="row no-margin">
		<div class="col-xs-12 col-sm-offset-1 col-sm-10">
			<h3 class="outside-seattle-message">
				Thank you for your interest in Knird! Unfortunately, we're <span>currently only delivering locally in the 
				greater Seattle metro area</span>.  However, we'll soon begin shipping outside the area. We'll be in touch 
				to see if you're interested in this option when it's available. Until then, cheers!
			</h3>
		</div>
	</div>
</div>
<%= render 'layouts/footer' %>