<%= render 'layouts/header_home_temp' %> 
<!-- Page Content -->
    <section class="background-light">
		<%= render 'section_begin' %>
    </section>
    <section class="background-light hidden" id="zip_code_response">

    </section>
    <section class="background-light hidden"  id="section-drink-category">

    </section>
    <section class="background-light hidden"  id="section_drink_styles">

    </section>
    <section class="background-light hidden" id="knird_info_one">

    </section>
    <section class="background-light hidden" id="knird_info_two">

    </section>
    <section class="background-light hidden" id="knird_info_ready">

    </section>
<%= render 'layouts/footer_home' %>