<%= render 'layouts/header' %> 
<div class="container">
	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-10 page-header">
		  <h2>Knird's Terms of Use</h2>
		</div>
		<div class="col-sm-1"></div>
	</div>
	<div class="row docs">
		<div class="col-sm-1"></div>
		<div class="col-sm-10">
			<h5>Please read these terms of use carefully (“Terms”). These Terms govern and apply to your access and 
				use of the Knird services available on Knird’s website (<%= link_to "www.drinkknird.com", root_path %>; 
				"Services"). By accessing or using any part of Knird's Service, you agree to become bound by the terms and 
				conditions of this agreement. If you do not agree to all the terms and conditions of this agreement, 
				then you may not access or use any Services.</h5>
			<h3>Knird Services</h3>
			<h5>Knird is a service that curates and delivers craft beer and cider to customers (“Users”). In order to 
				provide this service, Knird collects user's name, billing address, delivery address, email, birthdate, 
				general drink preferences and feedback on beers and ciders consumed. This information feeds Knird’s 
				proprietary recommendation algorithm with consideration of input from both experts and our community as 
				a whole to choose beers and ciders you will find appealing. We then utilize these recommendations to 
				curate and deliver drinks to Knird’s Users.</h5>
			<h5>You have the right to use the Knird Service if you agree:</h5>
				<ul>
					<li>You are an individual person at least 21 years of age.</li>
					<li>You or someone at least 21 years of age will be physically available to receive your Knird 
						order.</li>
					<li>You or someone at least 21 years of age will provide proof of age to anyone delivering your 
						Knird order.</li>
					<li>You are responsible to comply with all local and state liquor control laws where you reside.</li>
					<li>You agree Knird will not be held responsible for any product once it is delivered to you or 
						another individual over the age of 21 acting on your behalf; nor will Knird be held responsible 
						for any actions/outcomes associated with the consumption of product provided by Knird.</li>
					<li>You are responsible to choose, manage, change, and/or cancel your Knird membership and 
						related membership payments.</li>
					<li>Your Knird membership will default to auto-renew unless you change this setting in your 
						Account.</li>
					<li>Any Knird orders unable to be delivered during the designated delivery window will be 
						returned to Knird and charged to your Account.  You can arrange pick-up at your earliest 
						convenience.</li> 
					<li>You can cancel your membership at any time to forfeit any outstanding deliveries entitled to 
						you without any additional obligations.  However, your membership fee will not be refunded and 
						a new membership will need to be purchased if you desire to join the Service again.</li>
					<li>You will receive cash back for rating only those drinks purchased from Knird if you qualify for 
						this reward, as awarded to those who have purchased qualified prepaid delivery plans.</li>
					<li>All cash back received from Knird will be granted in the form of Knird credit.</li>
					<li>All cash back received from Knird will br granted once per quarter, at the begining of each fiscal 
						quarter.</li>
					<li>You will create no more than one account to be used only for your personal use.</li>
					<li>You will utilize and/or access this Service only for your personal use on a device that 
						you own or control.</li>
					<li>You will only use the Service for your own use and will not resell it to a third party.</li>
					<li>You will keep secure and confidential your account password which allows access to the 
						Service.</li>
					<li>You own the right to provide all information you submit to the Service and that all 
						information provided by you is correct, true, and current.</li>
					<li>You will not use the Service in any unlawful manner.</li>
					<li>Your use of this Service will at all times comply with these Terms.</li>
				</ul>
			<h3>Service availability</h3>
			<h5>When you access the Service you acknowledge that these Terms exist only between you and Knird and 
				this Service may change or evolve over time. Should new features appear, the Service will post new 
				related Terms providing you the opportunity to cease use of the Service if you so choose. 
				Similarly, there may be interruptions to the Service that are beyond Knird's control and/or the Service 
				may cease from time to time, possibly without prior notice to you. Knird retains the sole 
				discretion to change the Service or even deny you access to the Service at any time or for 
				any reason.</h5>
			<h3>Service ownership</h3>
			<h5>The content, information and process included in the Service is protected by copyright, trademark, 
				and other laws of the United States and belong to Knird. You may not for any purpose copy, modify, 
				distribute, transfer, sublicense, lease, lend, rent, distribute, decompile, reverse-engineer, 
				disassemble, or create derivative works of any content, information, software, products, or 
				services obtained through the Service. You acknowledge and agree that any feedback, comments or 
				suggestions you may provide regarding the Service will become the exclusive property of Knird.</h5>
			<h3>Information transmission</h3>
			<h5>Because we cannot control the security of the Internet or other networks you use to access the Service, 
				Knird is not responsible for the security of information you share with the Service while it is being 
				transmitted.</h5>
			<h3>Conduct while using the Service</h3>
			<h5>To continually access and use the Knird Service, you must agree to not take part in any of the following 
				(as judged by Knird):</h5>
				<ul>
					<li>Create multiple accounts or purposefully supply false information or commit fraud when 
						establishing or maintaining your account.</li>
					<li>Provide input or drink feedback that is false, non-meaningful, or otherwise misleading.</li>
					<li>Attempt to or actually access Knird data not intended for you by logging into a server or an 
						account you are not authorized to access.</li>
					<li>Attempt to or actually test the security of the Service or interfere with the functionality of 
						any part of the Service.</li>
					<li>Attempt to copy or distribute the Service app or other content without explicit permission from 
						Knird.</li>
					<li>Act illegally or maliciously against Knird, Knird's partners or other users.</li>
				</ul>
			<h3>Creating a Knird account</h3>
			<h5>In order to access and use Knird, you need to register and create one account (“Account”) and only 
				one Account. Your Account is non-transferrable and may not be sold. By creating an Account, you 
				affirm that you are at least 21 years of age. When creating an Account, you may be required to 
				provide certain personal information about yourself and will establish a password. You agree to 
				provide accurate, current and complete information for your Account. You are responsible for 
				maintaining the confidentiality of your password and Account and you agree to notify us if your 
				password is lost, stolen, or disclosed to an unauthorized third party. You are responsible for 
				activities that occur under your Account, including by a Mate with whom you share the account.</h5>
			<h5>We reserve the right to suspend or terminate your Account if any information provided during the 
				registration process or thereafter proves to be inaccurate, false or misleading. If we terminate 
				your account, we reserve the right to hold you liable for any and all damages suffered and you may 
				not enroll or join the Service again in any way unless specifically invited by Knird.</h5>
			<h3>Privacy policy</h3>
			<h5>Please refer to our <%= link_to "Privacy Policy", privacy_path %> for information on how we collect, use, and 
				disclose information from those who use the Service.</h5>
			<h3>User communications</h3>
			<h5>Knird facilitates communication between Knird and those who use the Service, and between users of 
				the Service. Knird has the right, but not the obligation, to monitor the content within these 
				communications at any time, for any reason, including to determine compliance with these Terms 
				as well as to satisfy any applicable law, regulation or authorized government request.</h5>
			<h3>Indemnity</h3>
			<h5>You agree to indemnify and hold Knird and their respective directors, officers, employees, agents, 
				and partners harmless from and against any and all costs, damages, liabilities, and expenses, 
				including attorneys' fees, arising from or in relation to, or for the purpose of avoiding, any 
				claim or demand from a third party that your use of the Service or the use of the Service by any 
				person using your Account violates these Terms or any applicable law or regulation, or the rights 
				of any third party.</h5>
			<h5>You are solely and completely responsible for your interactions with Knird and other Users who 
				use this Service. Given that, you agree to release Knird from any and all claims or liability 
				related to interactions with other users of this Service.</h5>
			<h3>Termination</h3>
			<h5>If you breach any of these Terms, Knird has the right to suspend or terminate your access to the Service.</h5>
			<h3>Disclaimer</h3>
			<h5>You understand and agree that the Service is provided to you “as is” and on an “as available” basis. Without 
				limitations, we disclaim all warranties and we make no warranty that the Service will meet your requirements 
				or be available on an uninterrupted, secure, or error-free basis.</h5>
			<h3>Limitation of liability</h3>
			<h5>In no event will Knird, its partners, officers, directors, employees, or agents be liable for any 
				indirect, incidental, special, consequential, or punitive damages arising out of or related to 
				your use of the Service. Knird’s total liability to you from all causes of action and under all 
				theories of liability will be limited to the amount paid for the Service and in no event will it 
				exceed $50.</h5>
			<h3>General choice of law</h3>
			<h5>Any disputes arising out of your use of the Service or related to these Terms will be governed by the 
				internal laws of the State of Washington, without regard to its choice of law rules and without regard 
				to conflicts of laws, except that the Arbitration provision shall be governed by the Federal Arbitration 
				Act.</h5>
			<h5>These Terms are governed by the laws of the State of Washington, without regard to any conflict of laws rules 
				or principles. The only exception is that the Arbitration provision shall be governed by the Federal Arbitration 
				Act. Knird’s failure to enforce any portion or aspect of these Terms will not be considered a waiver of those 
				rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions 
				of these Terms will remain in effect. These Terms constitute the entire agreement between Knird and its Users 
				regarding Knird’s Service, and supersede and replace any prior agreements between Knird and its Users regarding 
				the Service. We may revise these Terms from time to time. By continuing to access or use Knird’s Service after those 
				revisions become effective, you agree to be bound by the revised terms.</h5>
			<h3>Questions?</h3>
			<h5>Please <a href="mailto:questions@drinkknird.com">contact us</a> if you have any questions about our Terms.</h5><br>
			<h5>Effective: February 1, 2018</h5><br>
		</div>
		<div class="col-sm-1"></div>
	</div>
</div>
<%= render 'layouts/footer' %> 