<div class="col-xs-12 col-sm-6 col-md-4 beer-tile-container" id="drink-tile-<%= drink.beer.id %>">
	<%= link_to new_drink_rating_path(@user.id, drink.beer.id, drink.id), :class => 'rate-drink-from-delivery text-center' do %>
		<i class="fa fa-thumbs-up"></i>
		<i class="fa fa-thumbs-down fa-flip-horizontal"></i>
		<p>rate</p>
	<% end %>
	<div class="drink-delivery-tile">
		<%= render 'ratings/delivered_drink_info', drink: drink %>
	</div>
</div>	