<div class="row no-margin first-row-new">
	<div class="container first-row-container-new">
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-6 col-sm-4 col-md-2">
					<h3 class="submenu-options">
						<%= link_to "My ratings", recent_user_ratings_path, class: "#{if current_section == "History" then "current" else "" end}" %>
					</h3>
				</div>
				<div class="col-xs-6 col-sm-4 no-padding">
					<h3 class="submenu-options">
						<%= link_to "Unrated drinks", unrated_drinks_path, class: "#{if current_section == "Unrated" then "current" else "" end}" %>
					</h3>
				</div>
			</div>
		</div>
	</div>
</div>