<div class="col-xs-12 col-sm-6 col-md-4 beer-tile-container" id="recent-activity-<%= drink.id %>">
	<% if drink.user_id == current_user.id %>
		<%= link_to edit_user_rating_path(current_user.id, drink.id), :class => 'text-center edit-drink-rating' do %>
			<i class="fa fa-thumbs-up"></i>
			<i class="fa fa-thumbs-down fa-flip-horizontal"></i>
			<p>edit</p>
		<% end %>
	<% end %>
	<div class="drink-delivery-tile">
		<%= render 'drink_info_rating', drink: drink %>
	</div>
</div>