<div class="row no-margin">
	<div class="col-xs-12">
		<h3 class="recent-ratings-header">Other interesting ratings</h3>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<% if !@user_friends.blank? %>
			<% if !@recent_friend_ratings.blank? %>
				<div class="row no-margin recent-rating-holder">
					<% @recent_friend_ratings.each do |rating| %>
						<%= render 'layouts/drink_tile' drink: rating) %>
					<% end%>
				</div>
				<div class="col-sm-12" id="fav-drink-types-container">
					<%= will_paginate @recent_friend_ratings, renderer: BootstrapPagination::Rails %>
				</div>
			<% else %>
				<div class="row no-margin">
					<div class="col-xs-12">
						<h4 class="no-results-empty-message">Your friends haven't rated any drinks yet. Time to buy them a drink!</h4>
					</div>
				</div>
			<% end %>
		<% else %>
			<div class="row no-margin">
				<div class="col-sm-12">
					<h4 class="no-results-empty-message">You haven't connected with any friends yet. Find some now!</h4>
				</div>
				<div class="col-sm-3">
					<%= link_to "Connect with friends", find_friends_path(current_user.id), :class => "btn btn-success connect-with-friends-button"%>
				</div>
			</div>
		<% end %>
	</div>
</div>