<%= render 'layouts/header' %> 
	<div class="container">
		<div class="row current-beers-header">
			<div class="page-header"> 
				<h3 class="dark-gray-text">These beers need your loving attention</h3> 
			</div>
		</div>
		<div class="row">
			<div class="col-sm-9 no-padding">
 				<% if @need_user_ratings.empty? %>
 					<h4 class="light-gray-text">You have no beers to rate. Time to start drinking!</h4>
 				<% else %>
 					<%= render( partial: 'ratings/need_ratings') %>
 				<% end %>
 			</div>
			<div class="col-sm-3 no-padding">
				
			</div>
		</div>
		<div class="row wish-beers-header">
			<div class="page-header"> 
				<h3 class="dark-gray-text">To memories of those long gone, good beers....</h3> 
			</div>
		</div>
		<div class="row">
			<div class="col-sm-9 no-padding">
 				<% if @user_beer_ratings.empty? %>
 					<h4 class="light-gray-text">You haven't yet rated any beers, so it's well past time to start drinking!</h4>
 				<% else %>
 					<%= render( partial: 'ratings/past_ratings') %>
 				<% end %>
 			</div>
			<div class="col-sm-3 no-padding">
				
			</div>
		</div>
	</div>
<%= render 'layouts/footer' %>