<%= render 'layouts/header' %> 
<% if !@account_delivery.blank? %>
	<%= render 'ratings_common', current_section: "History" %>
<% end %>
<div class="row">
	<div class="container">
		<%= render 'recent_user_ratings' %>
	</div>
</div>
<%= render 'layouts/footer' %>