<head>
	<link href="https://quaff-stage.herokuapp.com/bootstrap.min.js" rel="stylesheet" type="text/javascript">
	<link href="https://quaff-stage.herokuapp.com/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
	<link href="https://quaff-stage.herokuapp.com/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="https://quaff-stage.herokuapp.com/bootstrap-custom.css" rel="stylesheet" type="text/css"> 
</head>
<body>
	<div class="container">
		<% if @board_type == "column-web" %>
			<div class="row no-margin ">
				<%= render 'current_column_draft_board_web' %>
			</div>
		<% elsif @board_type == "column-internal" %>
			<div class="row no-margin ">
				<%= render 'current_column_draft_board_internal' %>
			</div>
		<% elsif @board_type == "row-web" %>
			<div class="row no-margin ">
				<%= render 'current_row_draft_board_web' %>
			</div>
		<% else %>
			<div class="row no-margin ">
				<%= render 'current_row_draft_board_internal' %>	
			</div>
		<% end %>
	</div>
</body>
<script type="text/javascript"> 
      // Tell the parent iframe what height the iframe needs to be
      $( document ).ready(function() {
	        var iframe_height = document.getElementById('draft-frame').height();
			alert(iframe_height);
			iframe.style.height = iframe_height;
	  }
    </script>