<head>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="https://quaff-stage.herokuapp.com/bootstrap.min.js"></script>	
	<link href="https://quaff-stage.herokuapp.com/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
	<link href="https://quaff-stage.herokuapp.com/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="https://quaff-stage.herokuapp.com/draft.css" rel="stylesheet" type="text/css"> 
</head>
<body>
	<% if @board_type == "column" %>
		<div class="row no-margin ">
			<%= render 'column_board' %>
		</div>
	<% else %>
		<div class="row no-margin ">
			<%= render 'row_board' %>	
		</div>
	<% end %>
	<script type="text/javascript" src="https://quaff-stage.herokuapp.com/iframeResizer.contentWindow.min.js"></script>
</body>
