<head>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="https://quaff-stage.herokuapp.com/bootstrap.min.js"></script>	
	<link href="https://quaff-stage.herokuapp.com/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
	<link href="https://quaff-stage.herokuapp.com/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link href="https://quaff-stage.herokuapp.com/draft.css" rel="stylesheet" type="text/css"> 
</head>
<body>
	<% if @board_type == "column-web" %>
		<div class="row no-margin" id="draft-board">
			<%= render 'column_board_web' %>
		</div>
	<% elsif @board_type == "column-internal" %>
		<div class="row no-margin" id="draft-board">
			<%= render 'column_board_internal' %>
		</div>
	<% elsif @board_type == "row-web" %>
		<div class="row no-margin" id="draft-board">
			<%= render 'row_board_web' %>
		</div>
	<% else %>
		<div class="row no-margin" id="draft-board">
			<%= render 'row_board_internal' %>	
		</div>
	<% end %>
	<script type="text/javascript" src="https://quaff-stage.herokuapp.com/iframeResizer.contentWindow.min.js"></script>
</body>
