<head>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="https://quaff-stage.herokuapp.com/bootstrap.min.js"></script>	
	<link href="https://quaff-stage.herokuapp.com/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
	<link href="https://quaff-stage.herokuapp.com/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="https://quaff-stage.herokuapp.com/draft.css" rel="stylesheet" type="text/css"> 
</head>
<body>
	<div class="container" id="draft-board">
		<% if @board_type == "column-web" %>
			<div class="row no-margin ">
				<%= render 'current_column_draft_board_web' %>
			</div>
		<% elsif @board_type == "column-internal" %>
			<div class="row no-margin ">
				<%= render 'current_column_draft_board_internal' %>
			</div>
		<% elsif @board_type == "row-web" %>
			<div class="row no-margin ">
				<%= render 'current_row_draft_board_web' %>
			</div>
		<% else %>
			<div class="row no-margin ">
				<%= render 'current_row_draft_board_internal' %>	
			</div>
		<% end %>
	</div>
	<script type="text/javascript" src="https://quaff-stage.herokuapp.com/easyXDM.debug.js"></script>
	<script type="text/javascript">
		var socket = new easyXDM.Socket({
	        local: "name.html",
	        onReady: function () {
	            socket.postMessage(document.body.scrollHeight);
	        }
	    });
	</script>
</body>
