<div class="col-xs-12 col-sm-offset-4 col-sm-4 no-padding signup-guide-column-holder <%= @styles_chosen %>">
	<%= link_to "styles", drink_profile_wine_styles_path, class: "guide-header #{@styles_chosen}" %>
</div>