<div class="col-xs-6 col-sm-offset-3 col-sm-3 no-padding signup-guide-column-holder <%= @styles_chosen %>">
	<%= link_to "styles", drink_profile_cider_styles_path, class: "guide-header #{@styles_chosen}" %>
	<h5 class="pipe-separator">&#124;</h5>
</div>
<div class="col-xs-6 col-sm-3 no-padding signup-guide-column-holder <%= @costs_chosen %>">
	<% if current_user.getting_started_step >= 4 %>
		<%= link_to "costs", drink_profile_cider_costs_path, class: "guide-header #{@costs_chosen}" %>
	<% else %>
		<h5 class="guide-header">costs</h5>
	<% end %>
</div>