<%= render 'layouts/header_create_drink_profile' %>
<%= render 'layouts/updating_spinner' %>
<div class="row">
    <div class="container" id="user-drinks-per-week-signup">
		<div class="col-xs-12 text-center">
			<h2 class="signup-question">Tell us more about your <%= @drink_type %> deliveries.</h2>
		</div>
	</div>
</div>
<%= render 'layouts/footer' %>