<%= render 'layouts/header_create_drink_profile' %> 
	<div class="row no-margin first-row-signup">
	 <%= link_to start_consumer_drink_profile_path, :class => 'btn btn-default btn-success formButton-home-get-started-button' do %>
			<i class="fa fa-play">&nbsp;</i>
			Get your free curation and delivery 
		<% end %>
	</div>	
<%= render 'layouts/footer' %>