<% if !user_signed_in? || current_user.subscription_status != "subscribed" %>
	<div class="row cart-review-delivery-cost-message">
		<div class="col-xs-12">
			<h4>Standard local delivery: $5</h4>
			<h4>WA shipping: $10; Other shipping: $25</h4>
			<h5>Local & in-state min purhcase: $20; Out-of-state min purchase: $50</h5>
		</div>
	</div>
<% end %>
