<div class="row no-margin" id="confirm-price-message-holder">
	<%= render 'confirm_price_message' %>
</div>
<div class="row no-margin">
	<div class="col-xs-12 text-center no-padding">
		<h3 class="home-prompt-text">Review & Confirm</h3>
	</div>
</div>
<div id="confirmation_time_and_frequency_holder">
	<%= render 'confirmation_time_and_frequency_holder' %>
</div>
<div id="confirmation_drink_details_holder">
	<%= render 'confirmation_drink_details' %>
</div>
<div class="row no-margin" id="confirm-settings-button-holder">
	<%= render 'confirm_settings_button' %>
</div>
