<% @user_subscription = UserSubscription.where(account_id: current_user.account_id, currently_active: true).first %>
<% @current_delivery_location = UserAddress.where(account_id: current_user.account_id, current_delivery_location: true).first %>
<div class="row no-margin first-row">
	<div class="container first-row-container-new">
		<div class="col-xs-12 no-padding">
			<div class="row no-margin">
				<div class="col-xs-6 col-sm-3">
					<%= link_to "Delivery Location", user_delivery_settings_location_path, class: "submenu-options #{if current_section == "Location" then "current" else "" end}" %>
				</div>
				<% if !@user_subscription.blank? && @user_subscription.subscription.deliveries_included != 0 %>
					<div class="col-xs-6 col-sm-3 no-padding-right">
						<%= link_to "Next Delivery Date", change_delivery_date_path, class: "submenu-options #{if current_section == "Date" then "current" else "" end}" %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>