<div class="row">
	<div class="container" id="user-drinks-per-week-signup">
		<div class="col-xs-12 text-center">
			<h2 class="signup-question">How frequently should we deliver to you?</h2>
			<h5 class="signup-question-detail">You can update this in your delivery settings anytime after signup.</h5>
		</div>
	</div>
</div>
<div class="row">
	<div class="container" id="user-drinks-per-week-signup">
		<div class="col-xs-12 col-sm-offset-1 col-sm-10">
			<div class="row">
				<% (@start_week..@end_week).each do |i| %>
					<% if i == @account.delivery_frequency %>
						<% @status = "chosen" %>
					<% else %>
						<% @status = "" %>
					<% end %>
					<div class="col-xs-4 col-sm-2 no-padding delivery-frequency-holder-parent">
						<div class="delivery-frequency-holder <%= @status %>" id="<%= i %>">
							<h5 class="delivery-frequency-every-text">every</h5>
							<h3 class="delivery-frequency-weeks-number">
								<%= i %>
							</h3>
							<h4 class="delivery-frequency-weeks-text">weeks</h4>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
<% if !@account.delivery_frequency.nil? %>
	<div class="row no-margin" id="drinks-frequency-meaning">
		<%= render 'layouts/per_delivery_estimate' %>
	</div>
<% end %>