<div class="row no-margin">
	<div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
		<div class="row no-margin">
			<div class="col-xs-12 col-sm-5">
				<h4>Ready to go?</h4>
				<%= link_to drink_profile_categories_path, :class => 'btn btn-success knird-preferred-get-started' do %>
					<i class="fa fa-play">&nbsp;</i>
					Sign up for Knird Preferred! 
				<% end %>
			</div>
			<div class="col-xs-12 col-sm-2 text-center">
				<h6 class="knird-preferred-signup-or">or</h6>
			</div>
			<div class="col-xs-12 col-sm-5">
				<h4>Want a free test drive first?</h4>
				<%= link_to drink_profile_categories_path, :class => 'btn btn-primary knird-preferred-get-started' do %>
					<i class="fa fa-balance-scale" aria-hidden="true"></i>&nbsp;</i>
					Start a Knird Preferred Trial! 
				<% end %>
				<h5 class="knird-preferred-extra-info-text">Get 3 deliveries like you're a Knird Preferred member. See if you like it!</h5>
			</div>
		</div>
	</div>
</div>
