<section class="background-light knird-preferred-section">
	<div class="row membership-first-row">
		<div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
			<h3 class="knird-preferred-section-header">
				Knird Preferred is our membership option that rewards repeat customers.
			</h3>
		</div>
	</div>
	<div class="row no-margin">
		<div class="col-xs-12 col-sm-offset-1 col-sm-5 col-md-offset-3 col-md-3">
			<div class="knird-preferred-explained-box">
				<h4 class="knird-preferred-value-prop-text">
					Is membership really free?
				</h4>
				<h4 class="knird-preferred-value-prop-subtext">
					Knird Preferred membership costs $30, covering the delivery fee ($5) for 6 orders.
				</h4>
				<h4 class="knird-preferred-value-prop-subtext last-value-prop-subtext-row">
					BUT, you get a $5 credit for every drink order of $35 or more. So, yeah, you can basically get a free membership!
				</h4>
			</div>
		</div>
		<div class="col-xs-12 col-sm-5 col-md-3">
			<div class="knird-preferred-explained-box">
				<h4 class="knird-preferred-value-prop-text">
					Why offer a free membership?
				</h4>
				<h4 class="knird-preferred-value-prop-subtext">
					When we know you plan to buy from us again, we stock our inventory with drinks that match your taste preferences.
				</h4>
				<h4 class="knird-preferred-value-prop-subtext last-value-prop-subtext-row">
					Not only does this make it easier for you to get drinks you will love, you also get them delivered for free!
				</h4>
			</div>
		</div>
	</div>
</section>