<section class="background-light knird-preferred-section">
	<div class="row no-margin">
		<div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-1 col-md-10">
			<h3 class="knird-preferred-section-header">
				Regular deliveries prompt us to order fresh inventory to match your preferences.
			</h3>
		</div>
	</div>
	<div class="row no-margin">
		<div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
			<h4 class="knird-preferred-value-prop-subtext regular-delivery-guarantee-text">
				Don't worry though, you can change 
				your next delivery date at any time&mdash;because you retain full control of what is delivered and when.
			</h4>
		</div>
	</div>
	<%= render 'knird_preferred/knird_preferred_signup_partial' %>
</section>