<section class="background-dark knird-preferred-section">
	<div class="row membership-first-row">
		<div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
			<h3 class="knird-preferred-section-header">
				Get FREE delivery, access to limited drinks and more!
			</h3>
		</div>
	</div>
	<div class="row knird-preferred-table-row">
		<div class="row no-margin">
			<div class="col-xs-3 col-sm-offset-1 col-sm-5 col-md-offset-2 col-md-4">
				
			</div>
			<div class="col-xs-9 col-sm-5 col-md-4">
				<div class="row no-margin">
					<div class="col-xs-6 text-center no-padding">
						<h4 class="knird-preferred-table-text">Non-member</h4>
						<hr>
					</div>
					<div class="col-xs-6 text-center">
						<h4 class="knird-preferred-table-text"><span>Knird Preferred</span></h4>
						<hr>
					</div>
				</div>
			</div>
		</div>
		<div class="row no-margin">
			<div class="col-xs-3 col-sm-offset-1 col-sm-5 col-md-offset-2 col-md-4">
				<h4 class="knird-preferred-table-text">Standard delivery</h4>
			</div>
			<div class="col-xs-9 col-sm-5 col-md-4">
				<div class="row no-margin">
					<div class="col-xs-6 text-center no-padding">
						<h4 class="knird-preferred-table-text">$5 over $35<br>$8 under $35</h4>
					</div>
					<div class="col-xs-6 text-center no-padding">
						<h4 class="knird-preferred-table-text"><span><b>FREE</b> over $35</span><br>$5 under $35</h4>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8"><hr></div>
		</div>
		<div class="row no-margin">
			<div class="col-xs-3 col-sm-offset-1 col-sm-5 col-md-offset-2 col-md-4">
				<h4 class="knird-preferred-table-text">Reserved delivery</h4>
			</div>
			<div class="col-xs-9 col-sm-5 col-md-4">
				<div class="row no-margin">
					<div class="col-xs-6 text-center no-padding">
						<h4 class="knird-preferred-table-text">$8 over $35<br>$11 under $35</h4>
					</div>
					<div class="col-xs-6 text-center no-padding">
						<h4 class="knird-preferred-table-text">$4 over $35<br>$7 under $35</h4>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8"><hr></div>
		</div>
		<div class="row no-margin">
			<div class=" col-xs-4 col-sm-offset-1 col-sm-5 col-md-offset-2 col-md-4">
				<h4 class="knird-preferred-table-text">Assigned Personal Drink Assistant</h4>
			</div>
			<div class="col-xs-8 col-sm-5 col-md-4">
				<div class="row no-margin">
					<div class="col-xs-6 text-center">
						<h4 class="knird-preferred-table-text">No</h4>
					</div>
					<div class="col-xs-6 text-center">
						<h4 class="knird-preferred-table-text">Yes</h4>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8"><hr></div>
		</div>
		<div class="row no-margin">
			<div class=" col-xs-4 col-sm-offset-1 col-sm-5 col-md-offset-2 col-md-4">
				<h4 class="knird-preferred-table-text"><span>First dibs on limited drinks</span></h4>
			</div>
			<div class="col-xs-8 col-sm-5 col-md-4">
				<div class="row no-margin">
					<div class="col-xs-6 text-center">
						<h4 class="knird-preferred-table-text">No</h4>
					</div>
					<div class="col-xs-6 text-center">
						<h4 class="knird-preferred-table-text"><span>Yes</span></h4>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8"><hr></div>
		</div>
		<div class="row no-margin">
			<div class=" col-xs-4 col-sm-offset-1 col-sm-5 col-md-offset-2 col-md-4">
				<h4 class="knird-preferred-table-text">Flexible delivery scheduling</h4>
			</div>
			<div class="col-xs-8 col-sm-5 col-md-4">
				<div class="row no-margin">
					<div class="col-xs-6 text-center">
						<h4 class="knird-preferred-table-text">No</h4>
					</div>
					<div class="col-xs-6 text-center">
						<h4 class="knird-preferred-table-text">Yes</h4>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8"><hr></div>
		</div>
		<div class="row no-margin">
			<div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 knird-preferred-price-row">
				<h4 class="knird-preferred-table-text"><span>Knird Preferred costs $30 for 6 Deliveries</span></h4>
				<h5 class="knird-preferred-price-caveat">You receive a $5 credit for each order over $35, pretax</h5>
			</div>
		</div>
	</div>
<%= render 'knird_preferred/knird_preferred_signup_partial' %>
</section>