<section class="background-dark knird-preferred-section">
	<div class="row no-margin">
		<div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
			<h3 class="knird-preferred-section-header">
				About Our Pricing: You're Still In Control With Knird Preferred! 
			</h3>
			
		</div>
	</div>
	<div class="row no-margin">
		<div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 text-center">
			<h4 class="knird-preferred-text">The amount you spend on each delivery is totally up to you.</h4>
		</div>
	</div>
	<div class="row knird-preferred-pricing-setion">
		<div class="col-xs-12 col-sm-6 col-md-offset-1 col-md-5">
			<div class="knird-preferred-price-container">
				<div class="row no-margin">
					<div class="col-xs-12">
						<h4 class="how-it-works-headline">
							You set the drink price point
						</h4>
					</div>
					<div class="col-xs-2">
						<div class="knird-preferred-price-icon">
							<i class="fa fa-crosshairs fa-4x" aria-hidden="true"></i>
						</div>
					</div>
					<div class="col-xs-10">
						<h5 class="how-it-works-desc">
							When curating your deliveries, your PDA will hit your target drink price.
						</h5>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-5">
			<div class="knird-preferred-price-container right-side">
				<div class="row no-margin">
					<div class="col-xs-12">
						<h4 class="how-it-works-headline">
							You set the delivery parameters
						</h4>
					</div>
					<div class="col-xs-2">
						<div class="knird-preferred-price-icon">
							<i class="fa fa-sliders fa-4x fa-rotate-90" aria-hidden="true"></i>
						</div>
					</div>
					<div class="col-xs-10">
						<h5 class="how-it-works-desc">
							You control the total cost by choosing the delivery frequency and number of drinks delivered.
						</h5>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-offset-1 col-md-5">
			<div class="knird-preferred-price-container">
				<div class="row no-margin">
					<div class="col-xs-12">
						<h4 class="how-it-works-headline">
							You always have final say
						</h4>
					</div>
					<div class="col-xs-2">
						<div class="knird-preferred-price-icon">
							<i class="fa fa-thumbs-up fa-4x" aria-hidden="true"></i>
						</div>
					</div>
					<div class="col-xs-10">
						<h5 class="how-it-works-desc">
							You review each delivery, ensuring you see prices before we deliver or charge.
						</h5>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-5">
			<div class="knird-preferred-price-container right-side">
				<div class="row no-margin">
					<div class="col-xs-12">
						<h4 class="how-it-works-headline">
							Also, we don't charge premiums!
						</h4>
					</div>
					<div class="col-xs-2">
						<div class="knird-preferred-price-icon">
							<i class="fa fa-tag fa-4x" aria-hidden="true"></i>
							<i class="fa fa-arrow-circle-o-down fa-2x" aria-hidden="true"></i>
						</div>
					</div>
					<div class="col-xs-10">
						<h5 class="how-it-works-desc">
							We don't charge you extra for breaking up 6-/4-packs, so you can try a variety without paying more!
						</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>