<% @final_search_results.each do |drink| %>
	<%= render 'layouts/drink_tile', drink: drink, tile_type: "search" %>	
<% end %>
<div class="col-xs-12">
<%= will_paginate @final_search_results, renderer: BootstrapPagination::Rails %>
</div>
