<% @final_search_results.each do |drink| %>
	<div class="col-xs-12 col-sm-6 col-md-4 beer-tile-container" id="drink-tile-<%= drink.id %>">
		<div class="drink-delivery-tile">
			<%= render 'layouts/drink_tile', drink: drink %>
		</div>
	</div>			
<% end %>
<div class="col-xs-12">
<%= will_paginate @final_search_results, renderer: BootstrapPagination::Rails %>
</div>
