<%= render 'layouts/header' %> 
	<div class="row no-margin first-row">
		<div class="container first-row-container">
			<div class="col-xs-12 col-sm-5 no-padding">
				<h1 class="section-header">Search results</h1>
			</div>
			<div class="col-xs-12 col-sm-7 mobile-menu-holder">
				<div class="row no-margin">
					<h5 class="text-center">Don't see the drink you're looking for?</h5>
					<%= link_to user_add_drink_path, class: 'btn btn-default btn-success formButton' do %>
						<i class="fa fa-plus"> add a drink</i>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	<div class="row no-margin">
		<div class="container">
			<div class="col-xs-12">
				<% if @final_search_results.empty? %>
					<div class="row">
						<div class="col-sm-8 col-xs-12">
							<h4 class="no-search-results">Sorry, we don't see a match....Add it!</h4>
						</div>
					</div>
				<% else %>
					<%= render 'drink_search_results', drinks: @final_search_results %>
				<% end %>
			</div>
		</div>
	</div>
<%= render 'layouts/footer' %> 