$(function () {
	
	// set delay function
	var delay = (function(){
	  var timer = 0;
	  return function(callback, ms){
	    clearTimeout (timer);
	    timer = setTimeout(callback, ms);
	  };
	})();
	
	// hide spinner
	$(".spinner-text").hide();
	
  	// show spinner on AJAX start
	$(document).ajaxStart(function(){
	  $(".spinner-text").show();
	});
	
	// hide spinner on AJAX stop
	$(document).ajaxStop(function(){
	  $(".spinner-text").hide();
	});
	
	// search for drinks to add to Cellar or Wishlist
	$(document).on("keyup", ".supply-drink-search", function() {
		value = $(this).val();
		delay(function(){
			$.ajax({
			  type: "GET",
			  url: "/drinks/drink_search/1/" + value
			});
	    }, 500 );
	});
	
	// activate drink order dropdown
	$(document).on("click", ".stock-order-button", function() {
		var drink_id = $(this).attr('id');

	    //open dropdown
		$('.dropdown-toggle').dropdown()
		//$('#'+drink_id).dropdown();
		// prevent page from jumping to the top after click event
		return false;
	});
	
	// hide delivery details
	$(".delivery-second-row.history-rows").removeClass("show").addClass("hidden");
	
	// show first row delivery drink information
	$(document).on("click", ".delivery-drinks-show-more", function() {
		var this_id = $(this).attr('id');
		var delivery_id = this_id.replace('delivery-drinks-more-','');
		$(this).siblings(".delivery-drinks-show-less").removeClass("hidden").addClass("show");
		$(this).parent("#delivery-toggle-holder-"+delivery_id).parent("#delivery-first-row-"+delivery_id).siblings("#delivery-second-row-"+delivery_id).removeClass("hidden").addClass("show");
		$(this).removeClass("show").addClass("hidden");
	});
	
	// hide first row delivery drink information
	$(document).on("click", ".delivery-drinks-show-less", function() {
		var this_id = $(this).attr('id');
		var delivery_id = this_id.replace('delivery-drinks-less-','');
		$(this).siblings(".delivery-drinks-show-more").removeClass("hidden").addClass("show");
		$(this).parent("#delivery-toggle-holder-"+delivery_id).parent("#delivery-first-row-"+delivery_id).siblings("#delivery-second-row-"+delivery_id).removeClass("show").addClass("hidden");
		$(this).removeClass("show").addClass("hidden");
	});
		
	// allow customers to see second row of drink information
	$(document).on("click", ".drink-info-universal-show-more", function() {
		$(this).siblings(".drink-info-universal-show-less").removeClass("hidden").addClass("show");
		$(this).parent(".drink-info-universal-first-row").siblings(".drink-info-universal-second-row").removeClass("hidden").addClass("show");
		$(this).removeClass("show").addClass("hidden");
		if ($(this).parent(".drink-info-universal-first-row").siblings(".size-price-row").hasClass("hidden")) {
			$(this).parent(".drink-info-universal-first-row").siblings(".size-price-row").removeClass("hidden").addClass("show");
		}
	});
	
	// allow customers to hide second row of drink information
	$(document).on("click", ".drink-info-universal-show-less", function() {
		$(this).siblings(".drink-info-universal-show-more").removeClass("hidden").addClass("show");
		$(this).parent(".drink-info-universal-first-row").siblings(".drink-info-universal-second-row").removeClass("show").addClass("hidden");
		$(this).removeClass("show").addClass("hidden");
		if ($(this).parent(".drink-info-universal-first-row").siblings(".size-price-row").hasClass("show")) {
			$(this).parent(".drink-info-universal-first-row").siblings(".size-price-row").removeClass("show").addClass("hidden");
		}
	});
	
	$(document).on("change", ".dropdown-toggle-user-change-quantity", function() {
		// get drink id
		var account_delivery_id = $(this).attr('id');
		// get quantity
		var drink_quantity = $(this).val();
		
		// send to controller
		$.ajax({
			type: "GET",
			url: "/drinks/change_delivery_drink_quantity/" + account_delivery_id + "-" + drink_quantity
		});
		
		
	});
	
	// change cellar drink quantity
	$(document).on("click", ".cellar-quantity-add", function() {
		// get drink id
		var this_id = $(this).attr('id');
		var drink_id = this_id.replace('user-cellar-add-','');
		// attach new id
		$('#add-cellar-drink')
			.attr('href', "/drinks/change_cellar_drink_quantity/add-" + drink_id);

		// show modal
	    $('#add_cellar_drink_confirmation').modal('show');

	});
	
	$(document).on("click", ".cellar-quantity-subtract", function() {
		// get drink id
		var this_id = $(this).attr('id');
		var drink_id = this_id.replace('user-cellar-minus-','');
		// attach new id
		$('#remove-cellar-drink')
			.attr('href', "/drinks/change_cellar_drink_quantity/subtract-" + drink_id);

		// show modal
	    $('#remove_cellar_drink_confirmation').modal('show');

	});
	
	// show delivery stats for upcoming delivery
	$(document).on("click", ".show-delivery-stats-text", function() {
		var this_id = $(this).attr('id');
		var delivery_id = this_id.replace('show-delivery-stats-','');
		$(this).siblings(".hide-delivery-stats-text").removeClass("hidden").addClass("show");
		$("#delivery-stats-holder-"+delivery_id).removeClass("hidden").addClass("show");
		$(this).removeClass("show").addClass("hidden");
	});
	
	// hide delivery stats for upcoming delivery
	$(document).on("click", ".hide-delivery-stats-text", function() {
		var this_id = $(this).attr('id');
		var delivery_id = this_id.replace('hide-delivery-stats-','');
		$(this).siblings(".show-delivery-stats-text").removeClass("hidden").addClass("show");
		$("#delivery-stats-holder-"+delivery_id).removeClass("show").addClass("hidden");
		$(this).removeClass("show").addClass("hidden");
	});
	
	// change drink cellar status
	$(document).on("click", ".change-cellar-button", function() {
		// get id of button
		var this_id = $(this).attr('id');
		var drink_id = this_id.replace('cellar-add-','');
		
		// hide this button
		$(this).removeClass('show').addClass('hidden');
		//show the 'in cellar' version of button
		$(this).siblings('#in-cellar-'+drink_id).removeClass('hidden').addClass('show');
		
		// send info to controller
		$.ajax({
		  type: "POST",
		  url: "/drinks/add_cellar_drink/" + drink_id
		});
		// prevent page from jumping to the top after click event
		return false;
	});
	
	// change drink wishlist status
	$(document).on("click", ".change-wishlist-button", function() {
		// get id of button
		var this_id = $(this).attr('id');
		var drink_id = this_id.replace('wishlist-add-','');
		
		// hide this button
		$(this).removeClass('show').addClass('hidden');
		//show the 'in cellar' version of button
		$(this).siblings('#in-wishlist-'+drink_id).removeClass('hidden').addClass('show');
		
		// send info to controller
		$.ajax({
		  type: "POST",
		  url: "/drinks/add_wishlist_drink/" + drink_id
		});
		// prevent page from jumping to the top after click event
		return false;
	});
	
	// remove drink from wishlist
	$(document).on("click", ".remove-drink-from-wishlist", function() {
		// get id of button
		var this_id = $(this).attr('id');
		var drink_id = this_id.replace('remove-drink-from-wishlist-','');
		
		// attach href
		$("#remove_drink_from_wishlist_holder").children(".subtract-drink-confirmation").attr('href', '/drinks/wishlist_removal/'+drink_id)
		
		// show modal
	    $('#remove_drink_from_wishlist_confirmation').modal('show');
	});

	// move drink to cellar
	$(document).on("click", ".cellar-this-drink.deliveries-page", function() {
		// get id of button
		var this_id = $(this).attr('id');
		var drink_info = this_id.replace('cellar-drink-','');
		var drink_info_split = drink_info.split("-");
		var drink_id = drink_info_split[0];
		var drink_number = drink_info_split[1];
		
		if (drink_number > 1) {	
			// create array with drink number options
			var numberOptions = {};
			for (i = 0; i < drink_number; i++) {
				number = i + 1;
				numberOptions[number] = drink_id+"-"+number;
			}
			// insert drink number options into DOM
			var $el = $("#cellar_drink_number");
			$el.empty();
			$el.append('<option value="">Choose</option>');
			$.each(numberOptions, function(key,value) {
			  $el.append($("<option></option>")
			     .attr("value", value).text(key));
			});

			// show modal
		    $('#confirm_cellar_move_multiple').modal('show');
		} else {
			// attach href
			$("#move-to-cellar-button-single").attr('href', '/drinks/move_drink_to_cellar/'+drink_id+'-1')
			
			// show modal
		    $('#confirm_cellar_move_single').modal('show');
		}
		
	});
	
	// update href when multiple cellar drinks are chosen
	$(document).on("change", "#cellar_drink_number", function() {
		var drink_id_and_number = $(this).val();
		
		// attach href
		$("#move-to-cellar-button-multiple").attr('href', '/drinks/move_drink_to_cellar/'+drink_id_and_number);
		
		// enable submit button
		$("#move-to-cellar-button-multiple").removeAttr("disabled");
	});
});
	