<div class="col-xs-12 col-sm-6 col-md-4 beer-tile-container" id="drink-tile-<%= drink.id %>">
	<div class="drink-delivery-tile">
		<%= render 'drink_info_current_inventory', drink: drink %>
	</div>
</div>	