<% if !user_signed_in? || current_user.subscription_status != "subscribed" %>
	<div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 text-center no-padding" id="delivery-cost-message-holder">
		<div class="row cart-review-delivery-cost-message">
			<div class="col-xs-12">
				<h4>Standard local delivery: $5</h4>
				<h4>In-state shipping: $9; Out-of-state shipping: $15</h4>
				<h5>Local & in-state min purhcase: $20; Out-of-state min purchase: $50</h5>
			</div>
		</div>
	</div>
<% end %>
