<div class="row no-margin">
	<div class="col-xs-12">
		<h3 class="retail-plan-header">25 Prepaid Deliveries</h3>
		<h5 class="retail-plan-subheader">Best prices. Most rewards.</br>Greatest access to limited & rare drinks.</h5>
	</div>
</div>
<div class="row no-margin">
	<div class="col-xs-8 membership-plan-feature-setup">
		<h4>Deliveries included:</h4>
	</div>
	<div class="col-xs-4 membership-plan-feature-shown">
		<h4>25</h4>
	</div>
	<div class="col-xs-8 membership-plan-feature-setup">
		<h4>Delivery frequency:</h4>
	</div>
	<div class="col-xs-4 membership-plan-feature-shown">
		<h4>varies
			<sup  data-toggle="tooltip" title="You'll receive a delivery every 2 - 6 weeks, depending on your individual preferences and consumption habits.">?</sup>	
		</h4>
	</div>
	<div class="col-xs-8 membership-plan-feature-setup">
		<h4>Cash back on purchases:</h4>
	</div>
	<div class="col-xs-4 membership-plan-feature-shown">
		<h4>5%</h4>
	</div>
	<div class="col-xs-8 membership-plan-feature-setup">
		<h4>Cash back on rated drinks:</h4>
	</div>
	<div class="col-xs-4 membership-plan-feature-shown">
		<h4>5%</h4>
	</div>
	<div class="col-xs-8 membership-plan-feature-setup">
		<h4>Bottle caps
			<sup  data-toggle="tooltip" title="1.5 bottle caps are earned per dollar spent and can be used to &quot;jump to the front of the line&quot; to purchase rare & limited drinks.">?</sup>:
		</h4>
	</div>
	<div class="col-xs-4 membership-plan-feature-shown">
		<h4>1.5 / $1</h4>
	</div>
	<div class="col-xs-8 membership-plan-feature-setup">
		<h4>Cost per delivery:</h4>
	</div>
	<div class="col-xs-4 membership-plan-feature-shown">
		<h4>$4</h4>
	</div>
	<div class="col-xs-8 membership-plan-feature-setup">
		<h4>Total plan cost:</h4>
	</div>
	<div class="col-xs-4 membership-plan-feature-shown">
		<h4>$100</h4>
	</div>
</div>
