<div class="row no-margin">
	<div class="col-xs-12">
		<h3 class="retail-plan-header">0 Prepaid Deliveries</h3>
		<h5 class="retail-plan-subheader">The "no plan" plan. <br>Order when your supply is running low.</h5>
	</div>
</div>
<div class="row no-margin">
	<div class="col-xs-8 membership-plan-feature-setup">
		<h4>Deliveries included:</h4>
	</div>
	<div class="col-xs-4 membership-plan-feature-shown">
		<h4>0</h4>
	</div>
	<div class="col-xs-8 membership-plan-feature-setup">
		<h4>Delivery frequency:</h4>
	</div>
	<div class="col-xs-4 membership-plan-feature-shown">
		<h4>as ordered</h4>
	</div>
	<div class="col-xs-8 membership-plan-feature-setup">
		<h4>Cash back on purchases:</h4>
	</div>
	<div class="col-xs-4 membership-plan-feature-shown">
		<h4>0%</h4>
	</div>
	<div class="col-xs-8 membership-plan-feature-setup">
		<h4>Cash back on rated drinks:</h4>
	</div>
	<div class="col-xs-4 membership-plan-feature-shown">
		<h4>0%</h4>
	</div>
	<div class="col-xs-8 membership-plan-feature-setup">
		<h4>Bottle caps
			<sup  data-toggle="tooltip" title="Bottle caps can be earned with a prepaid membership and used to &quot;jump to the front of the line&quot; to purchase rare & limited drinks.">?</sup>:
		</h4>
	</div>
	<div class="col-xs-4 membership-plan-feature-shown">
		<h4>0 / $1</h4>
	</div>
	<div class="col-xs-8 membership-plan-feature-setup">
		<h4>Cost per delivery:</h4>
	</div>
	<div class="col-xs-4 membership-plan-feature-shown">
		<h4>$6</h4>
	</div>
	<div class="col-xs-8 membership-plan-feature-setup">
		<h4>Total plan cost:</h4>
	</div>
	<div class="col-xs-4 membership-plan-feature-shown">
		<h4>$0</h4>
	</div>
</div>