<div class="col-xs-12 col-sm-6 col-md-4 beer-tile-container" id="drink-tile-<%= drink.id %>">
	<div class="drink-delivery-tile">
		<%= render 'layouts/drink_tile_drink_info_row', drink: drink.inventory %>
		<%= render 'layouts/drink_tile_package_review_row', drink: drink %>
	</div>
</div>	