<% @user_rating_info = UserBeerRating.where(user_id: drink.user.id, beer_id: drink.beer.id) %>
<% if !@user_rating_info.nil? %>
	<% @user_rating = @user_rating_info.average(:user_beer_rating) %>
	<% Rails.logger.debug("User Rating: #{@user_rating.inspect}") %>
	<% if @user_rating >= 10.0 %>
		<% @user_rating = 10 %>
	<% end %>
<% end %>
<% if !@user_rating_info.nil? && !@user_rating.nil? %>
	<p>Our <span class="best-guess">best guess</span> was: <span class="best-guess"><%= drink.projected_rating %></span></p>
	<% if @user_rating_info.count > 1 %>
		<p><span class="user-rating-acknowledged">Your avg rating</span>:</p>
	<% else %>	
		<p><span class="user-rating-acknowledged">Your rating</span>:</p>
	<% end %>
	<h1 class="user-rating"><%= @user_rating %><span class="recent-user-rating-context">/10</span></h1>
<% else %>
	<p class="filler-best-guess-text"></p>
	<p>Our <span class="best-guess">best guess</span> for you:</p>
	<h1 class="best-guess"><%= drink.projected_rating %><span class="recent-user-rating-context">/10</span></h1>
<% end %>