<div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 beer-tile-container" id="drink-tile-<%= drink.id %>">
	<div class="drink-delivery-tile-hot-drinks">
		<%= render 'layouts/drink_tile_drink_info_row', drink: drink %>
	</div>
</div>	