 <footer class="footer">
        
        <div class="container">
           
                    <ul class="list-inline">
                        <li>
                        	<%= link_to "Home", root_path %>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                        	<%= link_to "Privacy", "#" %>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                        	 <%= link_to "Terms", "#" %>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                        	 <%= mail_to "#", "Contact" %>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">&copy; knird 2015. Seattle, WA.</p>
            
        </div>
    </footer>