<nav class="navbar navbar-default navbar-fixed-top signup_navbar" role="navigation">
    <div class="container">
        <div class="navbar-header col-sm-6 col-md-8" id="home-navbar">
            <%= link_to "Knird", root_path, id: "logo", class:"navbar-brand brand visible-sm visible-md visible-lg brand-font" %>
            <%= link_to "K", root_path, id: "logo", class:"navbar-brand brand visible-xs brand-font" %>
        </div>
        <ul class="nav navbar-nav navbar-right">            
		     <li class="navLinks"><%= link_to "Log out", destroy_user_session_path, method: :delete  %></li>	          	
        </ul>
    </div><!-- /.container -->
</nav>