<nav class="navbar navbar-default navbar-fixed-top signup_navbar" role="navigation">
    <div class="container">
        <div class="col-xs-0 col-sm-4"></div>   
            <div class="navbar-header-home col-xs-2 col-sm-4">
                <%= link_to "Knird", root_path, id: "logo", class:"visible-sm visible-md visible-lg brand-font" %>
                <%= link_to "K", root_path, id: "logo", class:"navbar-brand brand visible-xs brand-font" %>
        	</div>
    </div><!-- /.container -->
</nav>