<nav class="navbar navbar-default" role="navigation" id="index_homeNavbar">  
    <div class="container">
    	<ul class="nav navbar-nav navbar-right">            
		     <li class="navLinks"> <%= link_to "Log in", new_user_session_path, class: 'btn btn-default btn-success formButton' %></li>	          	
        </ul>
    </div> <!-- /.container -->  
</nav>