<nav class="navbar navbar-default navbar-fixed-top common_navbar" role="navigation"> 
    <div class="container no-padding">
         <div class="row no-margin">   
            <div class="navbar-header col-xs-2 col-sm-7 col-md-8" id="home-navbar">
                <div class="row no-margin">
	                <div class="col-xs-1 col-sm-10 text-left mobile-logo-holder">
		                <%= link_to "Knird", root_path, id: "logo", class:"navbar-brand brand visible-sm visible-md visible-lg brand-font" %>
		                <%= link_to "K", root_path, id: "logo", class:"navbar-brand brand visible-xs brand-font" %>
	            	</div>
	            </div> <!-- /.row -->
            </div> <!-- /.navbar-header -->
			<div class="col-xs-6 col-sm-3 col-md-offset-1 col-md-2">
			    <%= link_to gift_certificates_new_path, :class => 'btn btn-default btn-primary home-gift-certificate-button' do %>
					<i class="fa fa-gift"></i>
					Gift certificates
				<% end %>         	
	       	</div>
	    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
			    
		
            <!-- Collect the nav links, forms, and other content for toggling -->
            	<%= render 'layouts/collapse_navbar' %>
            <!-- /.nav links -->
    	</div> <!-- /.row -->
    </div> <!-- /.container -->
    
</nav>