<nav class="navbar navbar-default navbar-fixed-top common_navbar" role="navigation">
    
    <div class="container no-padding">
         <div class="row no-margin">   
            <div class="navbar-header col-xs-2" id="home-navbar">
                <div class="row no-margin">
	                <div class="col-xs-1 col-sm-10 text-left mobile-logo-holder">
		                <%= link_to "Knird", root_path, id: "logo", class:"navbar-brand brand visible-sm visible-md visible-lg brand-font" %>
		                <%= link_to "K", root_path, id: "logo", class:"navbar-brand brand visible-xs brand-font" %>
	            	</div>
	            </div> <!-- /.row -->
            </div> <!-- /.navbar-header -->
            <div class="col-xs-8 text-center">
            	<h3 class="create-drink-profile-navbar-header">Choose delivery plan</h3>
            </div>
    	</div> <!-- /.row -->
    </div> <!-- /.container -->
    
</nav>