<nav class="navbar navbar-default navbar-fixed-top index_homeNavbar" role="navigation">
        
        <div class="container">
            
			
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                  
		          	<li class="navLinks"> <%= link_to "Log in", new_user_session_path, class: 'btn btn-default btn-success formButton' %></li>
		          	
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>