<div class="row no-margin">
	<div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4 text-center">
		<div class="last-saved-holder">
			<h6 class="last-saved">Last saved: <%= @last_saved.utc.getlocal.strftime("%b %e, %Y @ %l:%M%P") %></h6>
		</div>
	</div>
</div>
