<div class="row no-margin">
  <div class="col-xs-12 no-padding">
    <h3 class="retail-plan-header">The Prepaid 15</h3>
    <h5 class="retail-plan-subheader">Deliveries under $40 are just $4 each; <span>deliveries over $40 are free!</span></h5>
  </div>
</div>
<div class="row no-margin">
  <div class="col-xs-8 col-sm-9 col-md-8 membership-plan-feature-setup">
    <h4 class="plan-cost">Plan cost:</h4>
  </div>
  <% if @six_free_promo == true %>
		<div class="col-xs-4 col-sm-3 col-md-4 membership-plan-feature-shown">
			<h4 class="plan-cost"><span class="strikethrough-text">$60</span> $36</h4>
		</div>
	<% else %>
		<div class="col-xs-4 col-sm-3 col-md-4 membership-plan-feature-shown">
	    	<h4 class="plan-cost">$60</h4>
	  	</div>
	<% end %>
  <div class="col-xs-8 col-sm-9 col-md-8 membership-plan-feature-setup">
    <h4>Deliveries included:</h4>
  </div>
  <div class="col-xs-4 col-sm-3 col-md-4 membership-plan-feature-shown">
    <h4>15</h4>
  </div>
  <div class="col-xs-8 col-sm-9 col-md-8 membership-plan-feature-setup">
    <h4>Free delivery option
      <sup  data-toggle="tooltip" title="Earn a $4 credit when your pre-tax drink total is more than $40.">?</sup>:
    </h4>
  </div>
  <div class="col-xs-4 col-sm-3 col-md-4 membership-plan-feature-shown">
    <h4>Yes</h4>
  </div>
  <div class="col-xs-8 col-sm-9 col-md-8 membership-plan-feature-setup">
    <h4>Bottle caps
      <sup  data-toggle="tooltip" title="1.5 bottle caps are earned per dollar spent and can be used to &quot;jump to the front of the line&quot; to purchase rare & limited drinks.">?</sup>:
    </h4>
  </div>
  <div class="col-xs-4 col-sm-3 col-md-4 membership-plan-feature-shown">
    <h4>2 / $1</h4>
  </div>
</div>
