<div class="row no-margin">
	<div class="col-xs-12 no-padding">
		<h3 class="retail-plan-header">The Ad Hoc</h3>
		<h5 class="retail-plan-subheader"><span>The no-membership option</span>: just order when your supply is running low.</h5>
	</div>
</div>
<div class="row no-margin">
	<div class="col-xs-8 membership-plan-feature-setup">
		<h4 class="plan-cost">Plan cost:</h4>
	</div>
	<div class="col-xs-4 membership-plan-feature-shown">
		<h4 class="plan-cost">$0</h4>
	</div>
	<div class="col-xs-8 membership-plan-feature-setup">
		<h4>Delivery cost per order:</h4>
	</div>
	<div class="col-xs-4 membership-plan-feature-shown">
		<h4>$6</h4>
	</div>
	<div class="col-xs-8 membership-plan-feature-setup-holder hidden-xs">
		<h4></h4>
	</div>
	<div class="col-xs-4 membership-plan-feature-shown-holder hidden-xs">
		<h4></h4>
	</div>
	<div class="col-xs-8 membership-plan-feature-setup-holder hidden-xs">
		<h4></h4>
	</div>
	<div class="col-xs-4 membership-plan-feature-shown-holder hidden-xs">
		<h4></h4>
	</div>
	<div class="col-xs-8 membership-plan-feature-setup-holder hidden-xs">
		<h4></h4>
	</div>
	<div class="col-xs-4 membership-plan-feature-shown-holder hidden-xs">
		<h4></h4>
	</div>
</div>
