<div class="row no-margin">
	<div class="col-xs-12 no-padding">
		<h3 class="retail-plan-header">The Prepaid 6</h3>
		<h5 class="retail-plan-subheader">This membership plan <span>provides a "test drive"</span> for $5/delivery and up to 5% cash back.</h5>
	</div>
</div>
<div class="row no-margin">
	<div class="col-xs-8 membership-plan-feature-setup">
		<h4 class="plan-cost">Plan cost:</h4>
	</div>
	<div class="col-xs-4 membership-plan-feature-shown">
		<h4 class="plan-cost">$30</h4>
	</div>
	<div class="col-xs-8 membership-plan-feature-setup">
		<h4>Deliveries included:</h4>
	</div>
	<div class="col-xs-4 membership-plan-feature-shown">
		<h4>6</h4>
	</div>
	<div class="col-xs-8 membership-plan-feature-setup">
		<h4>Cash back on purchases:</h4>
	</div>
	<div class="col-xs-4 membership-plan-feature-shown">
		<h4>0%</h4>
	</div>
	<div class="col-xs-8 membership-plan-feature-setup">
		<h4>Cash back on rated drinks:</h4>
	</div>
	<div class="col-xs-4 membership-plan-feature-shown">
		<h4>5%</h4>
	</div>
	<div class="col-xs-8 membership-plan-feature-setup">
		<h4>Bottle caps
			<sup  data-toggle="tooltip" title="1 bottle cap is earned per dollar spent and can be used to &quot;jump to the front of the line&quot; to purchase rare & limited drinks.">?</sup>:
		</h4>
	</div>
	<div class="col-xs-4 membership-plan-feature-shown">
		<h4>1 / $1</h4>
	</div>
</div>
