<div class="row no-margin">
  <div class="col-xs-12 no-padding">
    <h3 class="retail-plan-header">The Prepaid 25</h3>
    <h5 class="retail-plan-subheader">This delivery plan <span>provides the best benefits</span> for only $4/delivery and up to 10% cash back!</h5>
  </div>
</div>
<div class="row no-margin">
  <div class="col-xs-8 membership-plan-feature-setup">
    <h4 class="plan-cost">Plan cost:</h4>
  </div>
  <div class="col-xs-4 membership-plan-feature-shown">
    <h4 class="plan-cost">$100</h4>
  </div>
  <div class="col-xs-8 membership-plan-feature-setup">
    <h4>Deliveries included:</h4>
  </div>
  <div class="col-xs-4 membership-plan-feature-shown">
    <h4>25</h4>
  </div>
  <div class="col-xs-8 membership-plan-feature-setup">
    <h4>Cash back on rated drinks:</h4>
  </div>
  <div class="col-xs-4 membership-plan-feature-shown">
    <h4>10%</h4>
  </div>
  <div class="col-xs-8 membership-plan-feature-setup">
    <h4>Bottle caps
      <sup  data-toggle="tooltip" title="1.5 bottle caps are earned per dollar spent and can be used to &quot;jump to the front of the line&quot; to purchase rare & limited drinks.">?</sup>:
    </h4>
  </div>
  <div class="col-xs-4 membership-plan-feature-shown">
    <h4>2 / $1</h4>
  </div>
</div>
