<div class="drink-profile-style-tile" id="add-<%= style.id %>">
	<div class="row no-margin">
		<div class="col-xs-12 padding-5">
			<h5 class="drink-profile-style-tile-header"><%= style.style_name %></h5>
			<div class="style-image-holder">
				<img class="img-responsive center-block" alt="Responsive image" src="<%= style.style_image_url %>">
			</div>
		</div>
	</div>
	<div class='style-indicator home-like-style homepage text-center'>
		<i class="fa fa-check"></i>
	</div>
	<div class='style-indicator home-dislike-style homepage text-center'>
		<i class="fa fa-times"></i>
	</div>
</div>