<div class="user-graphic-holder-div-small" data-toggle="tooltip" title="<%= friend.first_name %> <%= friend.last_name %> (<%= friend.username %>)">
	<img class="img-responsive center-block user-graphic-img-small" alt="Responsive image" src="<%= friend.user_graphic %>">
</div>